<ng-container>
    <div fxLayout="row">
        <div
            class="crafts"
            fxLayout="column"
            fxFlex="75"
            fxLayoutAlign="center center"
        >
            <div
                *ngFor="let craft of _shop.crafts; trackBy: trackByCraft"
                fxLayout="column"
                style="width: 100%;"
            >
                <h2>{{ craft.name }}</h2>
                <div fxLayout="row wrap">
                    <detail
                        *ngFor="
                            let item of craft.weaponArmor;
                            trackBy: trackByItem
                        "
                        (click)="doCraftItem$.next(item)"
                        class="detail-craft"
                        [ngClass]="{ canCraft: canCraft(item.materials) }"
                        [item]="item.equipment"
                        [compare]="getStatDifference(item.equipment)"
                        [comparaison]="true"
                        iconClass="{{ item.equipment.subType }} {{
                            item.equipment.icon
                        }}"
                        style="transform: scale(0.85);"
                        tooltip
                        [tooltip-material]="item.materials"
                        [tooltip-equipped]="equipped(item.equipment)"
                        [tooltip-type]="'craft'"
                    >
                    </detail>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxFlex="25">
            <h2>Currencies</h2>
            <div
                fxLayout="row wrap"
                fxLayoutAlign="space-between space-between"
            >
                <div
                    *ngFor="
                        let currency of currency$ | async;
                        trackBy: trackByCurrency
                    "
                >
                    <i
                        class="currency {{ currency.name }}"
                        [attr.data-qty]="currency.quantity"
                    ></i>
                </div>
            </div>
        </div>
    </div>
</ng-container>
