<div class="ui-container" fxLayout="row" fxLayoutAlign="center center">
    <app-card class="combat">
        <ng-container cardHeader>
            You / lvl {{ (hero$ | async).level }}
        </ng-container>
        <ng-container cardBody>
            <!-- Bar Hp / Exp-->
            <div>
                <div class="myProgress hp">
                    <span>
                        {{ (hero$ | async).hp }} /
                        {{ (hero$ | async).maxHp }}</span
                    >
                    <div
                        class="fillingBar"
                        [style.width.%]="healthPercentage$ | async"
                    ></div>
                </div>
                <div class="myProgress exp">
                    <span>
                        {{ (hero$ | async).exp }} /
                        {{ getXPForLevel((hero$ | async).level) }}</span
                    >
                    <div
                        class="fillingBar"
                        [style.width.%]="expPercentage$ | async"
                    ></div>
                </div>
            </div>
        </ng-container>
        <ng-container cardFooter>
            <div fxLayout="row" fxLayoutAlign="center center">
                <!-- Skills and consummables-->
                <combat-spell-cooldown
                    *ngFor="
                        let spell of (hero$ | async).equippedSpell;
                        let index = index;
                        trackBy: trackByFn
                    "
                    [tooltip]="spell"
                    [tooltip-detach]="spellCasted"
                    [tooltip-type]="'spell'"
                    [spell]="spell"
                    [index]="index"
                    [hero]="hero$ | async"
                    (rdy)="casted($event)"
                    (click)="doCastSpell$.next({ spell: spell, hotKey: '' })"
                >
                </combat-spell-cooldown>
                <combat-spell-cooldown
                    *ngIf="potion$ | async as potion"
                    [tooltip]="potion"
                    [tooltip-detach]="spellCasted"
                    [potion]="potion$ | async"
                    [index]="5"
                    [hero]="hero$ | async"
                    (rdy)="casted($event)"
                    (click)="doUsePotion$.next({ potion: potion })"
                >
                </combat-spell-cooldown>
            </div>
        </ng-container>
    </app-card>
</div>
