@import "variables.scss";
:host {
    width: 250px;
    height: 145px;
    background: #f2f2f2;
    color: $body;
    box-shadow: 0px 0px 0.2rem 0.15rem $carreraWhite;
    box-sizing: border-box;
    margin: 1em;
    display: inline-block;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    cursor: pointer;
    &:hover {
        box-shadow: 0px 0px 0.3rem 0.3rem $carreraWhite;
        transform: translateY(-2px);
    }
    &.combat {
        width: 350px;
        height: 250px;
        cursor: default !important;
        background-color: $body;
        box-shadow: 0px 0px 0.5px 0.1px $carreraWhite;
        color: $carreraWhite;
        &:hover {
            box-shadow: 0px 0px 1px 0.5px $carreraWhite;
            transform: none;
        }
        .card .card-header {
            border-bottom: none;
        }
    }
    &.merchant-goods {
        cursor: default;
        height: fit-content;
    }
    &.hunting {
        width: 128px;
        height: 300px;
        font-size: small;
        cursor: default !important;
        @mixin shadowFColor($color) {
            box-shadow: 0 0 10px 5px $color;
        }
        &.useless {
            @include shadowFColor($lightgreybutton);
        }
        &.easy {
            @include shadowFColor($eucalyptus);
        }
        &.normal {
            @include shadowFColor($carreraWhite);
        }
        &.hard {
            @include shadowFColor($orange);
        }
        &.harder {
            @include shadowFColor($red);
        }
        &.impossible {
            @include shadowFColor(black);
        }
        .card-header {
            padding: 0px !important;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    width: inherit;
    cursor: inherit;
    height: inherit;
    box-sizing: border-box;
    .card-header {
        text-align: center;
        padding: 5px;
        border-bottom: 1px solid $carreraWhite;
        box-sizing: inherit;
    }
    .card-body {
        display: flex;
        font-size: small;
        flex-direction: column;
        box-sizing: inherit;
        margin: 5px;
    }
    .card-footer {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        box-sizing: inherit;
    }
    label {
        align-self: flex-end;
        box-sizing: inherit;
    }
}
