<ng-container *ngIf="hero$ | async as hero">
    <div class="tab">
        <button
            (click)="dTab = 'training'"
            [ngClass]="dTab === 'training' ? 'active' : ''"
        >
            Training
        </button>
        <button
            (click)="dTab = 'work'"
            [ngClass]="dTab === 'work' ? 'active' : ''"
        >
            Work
        </button>
        <button *ngIf="_showTravel$ | async">
            <a
                [routerLink]="['/world/city']"
                routerLinkActive="router-link-active"
            >
                Travel
            </a>
        </button>
    </div>
    <div class="tab-container">
        <ng-container *ngIf="dTab === 'training'">
            <app-card
                header="Strength ({{ (hero$ | async).attack }})"
                (click)="train(hero, 'strength')"
            >
                <ng-container cardBody>
                    <span>
                        {{ TEqpmt("strength").description }}
                    </span>
                </ng-container>
                <ng-container cardFooter>
                    <div class="training-reward-information">
                        <span>
                            reward : +
                            {{ TEqpmt("strength").reward }} strength
                        </span>
                        <span>
                            Max training {{ TEqpmt("strength").done }}/{{
                                TEqpmt("strength").bonus
                            }}
                        </span>
                    </div>
                    <app-progressbar
                        time="{{ TEqpmt('strength').speed }}ms"
                        [animate]="
                            training.get('strength') ? 'filling' : 'initial'
                        "
                    ></app-progressbar>
                </ng-container>
            </app-card>
            <app-card
                header="Defense ({{ hero.defense }})"
                (click)="train(hero, 'endurance')"
            >
                <ng-container cardBody>
                    <span>
                        {{ TEqpmt("endurance").description }}
                    </span>
                </ng-container>
                <ng-container cardFooter>
                    <div class="training-reward-information">
                        <span>
                            reward : +
                            {{ TEqpmt("endurance").reward }} endurance
                        </span>
                        <span>
                            Max training {{ TEqpmt("endurance").done }}/{{
                                TEqpmt("endurance").bonus
                            }}
                        </span>
                    </div>
                    <app-progressbar
                        time="{{ TEqpmt('endurance').speed }}ms"
                        [animate]="
                            training.get('endurance') ? 'filling' : 'initial'
                        "
                    ></app-progressbar>
                </ng-container>
            </app-card>
        </ng-container>
        <ng-container *ngIf="dTab === 'work'">
            <app-card header="Work" (click)="work()">
                <ng-container cardBody>
                    <label>
                        Total gold
                        {{ (currencies$ | async)?.get("gold").quantity }}
                    </label>
                </ng-container>
            </app-card>
        </ng-container>
    </div>
</ng-container>
