@import "variables.scss";
@import "sprite-currencies.scss";
:host {
    max-height: 80vh;
    overflow: auto;
}
.information {
    display: flex;
    justify-content: space-evenly;
    font-size: x-small;
    align-items: flex-end;
}
h4 {
    text-align: center;
    box-shadow: 0px 0px 0.3px 0.4px #f2f1ef;
    padding: 5px;
    min-width: 50vw;
    margin: 5px;
    &:hover {
        box-shadow: 0px 0px 0.6px 0.4px $carreraWhite;
        cursor: pointer;
    }
}
.tab {
    button {
        height: 35px;
        width: 150px;
        background: $blueTextOnBody;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        color: $carreraWhite;
        font-size: small;

        &:hover {
            background: transparentize($color: $blueTextOnBody, $amount: 0.35);
        }
        &.active {
            background: transparentize($color: $greenTextOnBody, $amount: 0.25);
            color: $outerspaceGrey;

            &:hover {
                background: $greenTextOnBody;
            }
        }
    }
}
.tab-container {
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    .done {
        background: $darkgreybutton;
        color: $greenTextOnBody;
    }
}
