@import "variables.scss";
:host {
    width: 450px;
}
button {
    background: $blueTextOnBody;
    float: left;
    flex: 1;
    color: #f2f2f2;

    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 10px;
    transition: 0.3s;
    &:hover {
        background: transparentize($color: $blueTextOnBody, $amount: 0.35);
    }
    &.active {
        background: transparentize($color: $greenTextOnBody, $amount: 0.25);

        &:hover {
            background: $greenTextOnBody;
        }
    }
}
