<ng-container *transloco="let t">
    <div
        class="talents-container"
        fxLayout="column"
        fxLayoutAlign="space-between center"
    >
        <div *ngFor="let levels of levelTalent" fxLayout="column" fxFlex="grow">
            <h5 class="levelFloor">
                Lvl {{ levels }}
                <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
                    <div
                        class="talent-container"
                        [ngClass]="{
                            unlocked: hero.level >= levels,
                            selected: talent.selected
                        }"
                        *ngFor="
                            let talent of getTalentForLevel(levels);
                            trackBy: trackByFn
                        "
                        fxLayout="row nowrap"
                        fxLayoutAlign="center center"
                        [tooltip]="talent"
                        [tooltip-type]="'spell'"
                        [tooltip-isTalent]="'true'"
                        (click)="selectTalent(talent)"
                    >
                        <span> {{ t(talent.name) }}</span>
                    </div>
                </div>
            </h5>
        </div>
    </div>
</ng-container>
