.log {
    display: flex;
    position: absolute;
    bottom: 5vh;
    flex-direction: column;
    width: 15vw;
    height: 20vh;
    min-width: 270px;
    border: 1px solid black;
    border-radius: 0px 0px 15px 15px;
    overflow: hidden;
}
