.log {
    display: flex;
    position: absolute;
    bottom: 10vh;
    flex-direction: column;
    width: 25vw;
    height: 35vh;
    border: 1px solid black;
    border-radius: 0px 0px 15px 15px;
    overflow: hidden;
}
