@import "variables.scss";
.modal {
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px 0px #f2f2f2;
    width: fit-content;
    min-width: 10vw;
    min-height: 15vh;
    z-index: 1001;
    background: $body;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    &.inventory {
        left: 15%;
        top: 25%;
    }
    &.stat {
        left: 30%;
        top: 25%;
    }
    &.tools {
        left: 50%;
        top: 25%;
    }
    &.map {
        left: 75%;
        top: 25%;
    }
}

.modal .modal-header {
    background-color: $lavenderTextOnBody;
    color: #fff;
    padding: 5px;
    cursor: move;
}
.modal-body {
    box-sizing: border-box;
    min-height: inherit;
    height: inherit;
    margin: 0 1em;
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    font-size: 28px;
}
.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.resizable-e {
    position: absolute;
    cursor: e-resize;
    height: 100%;
    width: 7px;
    right: -5px;
    top: 0;
}
.resizable-se {
    position: absolute;
    cursor: se-resize;
    height: 15px;
    width: 15px;
    right: 0;
    bottom: 0;
}
.resizable-s {
    position: absolute;
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}
