@import "sprite-set.scss";
@import "sprite-currencies.scss";
@import "variables.scss";
:host {
    width: auto;
    .craftDetail {
        background: hsl(228, 60%, 8%);
        border: 2px solid white;
        border-radius: 5px;
        color: white;
        padding: 5px;
        @mixin craft($color) {
            box-shadow: 0px 0px 5px 5px $color;
        }
        span {
            margin: auto;
        }
        .canCraft {
            @include craft($eucalyptus);
        }
        .cantCraft {
            @include craft($red);
        }
    }
}
