<ng-container *transloco="let t">
    <div class="content" fxLayout="column wrap" fxLayoutAlign="center">
        <h4 (click)="setIsVisible('b')">{{ t("currencies.currencies") }}</h4>

        <merchant-item
            [hidden]="isVisible('b')"
            [goods]="goodsBougth"
            (convert)="doConvert$.next($event)"
        ></merchant-item>

        <h4 (click)="setIsVisible('s')">{{ t("currencies.gold") }}</h4>

        <merchant-item
            [hidden]="isVisible('s')"
            [goods]="goodsSell"
            (convert)="doConvert$.next($event)"
        ></merchant-item>
    </div>
</ng-container>
