<ng-container *transloco="let t">
    <div *ngIf="item" class="description" fxLayout="column nowrap">
        <span *ngIf="equipped" class="equipped">
            {{ t("game.equipped") }}
        </span>
        <div fxLayout="row">
            <i *ngIf="iconClass != ''" class="{{ iconClass }}"></i>
            <span class="{{ item.quality }}">
                {{ t(item.name) }}
            </span>
        </div>
        <div *ngIf="consumable; else weaponOrArmor">
            {{
                t(
                    getDescription(consumable).jsonField,
                    getDescription(consumable)
                )
            }}
            <span class="cooldown_potion">
                {{ t("potions.cooldown", { cooldown: consumable.cooldown }) }}
            </span>
        </div>
        <ng-template #weaponOrArmor>
            <div class="stat" fxLayout="column nowrap">
                <ng-container *ngIf="equipment.type === 'weapon'">
                    <div fxLayout="row nowrap" fxLayoutAlign="space-between">
                        <label> {{ equipment.weaponHandling }} </label>
                        <label>
                            {{ equipment.subType }}
                        </label>
                    </div>
                    <div fxLayout="row nowrap" fxLayoutAlign="space-between">
                        <label>
                            {{
                                t("game.weapon.damage", {
                                    attack: equipment.attack
                                })
                            }}
                        </label>
                        <label>
                            {{
                                t("game.weapon.speed", {
                                    speed: equipment.speed / 1000
                                })
                            }}
                        </label>
                    </div>
                    {{
                        t("game.weapon.dps", {
                            dps: equipment.dps
                        })
                    }}
                </ng-container>
                <ng-container *ngIf="equipment.type === 'armor'">
                    <div fxLayout="row nowrap" fxLayoutAlign="space-between">
                        <label>
                            {{ equipment.subType }}
                        </label>
                    </div>
                    <div fxLayout="row nowrap" fxLayoutAlign="space-between">
                        <label>
                            {{ equipment.armor }}
                            {{ t("game.stats.armor") }}
                        </label>
                    </div>
                </ng-container>
                <!-- Loop of an array Stats. -->
                <label
                    *ngFor="
                        let stat of equipment.stats;
                        let index = index;
                        trackBy: trackByStat
                    "
                >
                    +{{ stat.value }} {{ t(stat.name) }}
                </label>
                <div fxLayout="column" class="runes">
                    <label
                        *ngFor="
                            let rune of equipment.runes;
                            trackBy: trackByRune
                        "
                        [tooltip]="rune"
                        [tooltip-type]="'rune'"
                    >
                        +{{ rune.currentLvl }} {{ rune.type }}
                    </label>
                </div>
            </div>
        </ng-template>
        <div
            fxLayout="row"
            class="goldLevel"
            fxLayoutAlign="space-between center"
            *ngIf="item.level > 0"
        >
            <span>{{ t("game.requiredLevel", { level: item.level }) }}</span>
            <span class="gold">{{ item.value }}g</span>
        </div>
        <div
            class="compare-stat"
            *ngIf="
                compare !== undefined &&
                comparaison == true &&
                compare.stats.length > 0
            "
            fxLayout="column"
        >
            <h5>{{ t("game.stats.ifEquipped") }}</h5>
            <span *ngIf="compare.armor >= 0" class="better">
                ( + {{ compare.armor }} {{ t("game.stats.armor") }})
            </span>
            <span *ngIf="compare.armor < 0" class="worst">
                ({{ compare.armor }} {{ t("game.stats.armor") }})
            </span>
            <div *ngFor="let s of compare.stats; trackBy: trackByStatCompare">
                <span *ngIf="s.value >= 0" class="better">
                    ( + {{ s.value }} {{ t(s.name) }})
                </span>
                <span *ngIf="s.value < 0" class="worst">
                    ({{ s.value }} {{ t(s.name) }})
                </span>
            </div>
        </div>
    </div>
</ng-container>
