.Ui {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.cInfo {
  display: flex;
  width: 25vw;
  height: 100%;
  border: 1px solid black;
}
.eInfo {
  display: flex;
  margin-left: auto;
  width: 25vw;
  height: 100%;
  border: 1px solid black;
}
.portrait {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  justify-content: center;
}
.bars {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.expBar {
  height: 17px;
  background-color: orange;
  transition: width 1s;
}
.hpBar {
  height: 25px;
  background-color: green;
  transition: width 1s;
}
.manaBar {
  height: 25px;
  background-color: blue;
}

.myProgress {
  display: flex;
  position: relative;
  width: 100%;
  background-color: grey;
}
.myProgress span {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(
    -50%,
    -50%
  ); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
}

.eInfo .myProgress {
  flex-direction: row-reverse;
}
