@import "variables.scss";
.myProgress {
    display: flex;
    position: relative;
    font-size: small;
    height: 30px;
    width: inherit;
    &.mana {
        height: 20px;
        box-shadow: 1px 1px 2px $chambray, -1px -1px 2px $chambray;
        .fillingBar {
            background-color: chambray;
            transition: width 1s;
            border-radius: inherit;
        }
    }
    &.mana:hover {
        box-shadow: 1px 1px 4px $chambray, -1px -1px 4px $chambray;
    }
    &.hp {
        box-shadow: 1px 1px 2px $eucalyptus, -1px -1px 2px $eucalyptus;
        .fillingBar {
            background-color: $eucalyptus;
            border-radius: inherit;
            transition: width 1s;
        }
    }
    &.hp:hover {
        box-shadow: 1px 1px 4px $eucalyptus, -1px -1px 4px $eucalyptus;
    }
    &.exp {
        width: 75%;
        margin-top: 4px;
        height: 15px;
        box-shadow: 1px 1px 2px orange, -1px -1px 2px orange;
        .fillingBar {
            border-radius: inherit;
            transition: width 1s;
        }
    }
    &.exp:hover {
        box-shadow: 1px 1px 4px orange, -1px -1px 4px orange;
    }
    &.miscellaneous {
        height: 15px;
        margin-top: 2px;
        box-shadow: 1px 1px 2px orange, -1px -1px 2px orange;
        .fillingBar {
            border-radius: inherit;
            transition: width 1s;
        }
    }
    &.miscellaneous:hover {
        box-shadow: 1px 1px 4px orange, -1px -1px 4px orange;
    }
    span {
        position: absolute;
        top: 50%; /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */

        transform: translate(
            -50%,
            -50%
        ); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
    }
}
