@import "sprite-peasantSkills.scss";
:host {
    margin: 0 1rem 2rem 0;
}
.action {
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 5px;
    box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 1);
    cursor: pointer;
    outline: 0;
    position: relative;
    transition: 100ms;
    i:before {
        font: 700 0.75em "Roboto Condensed", sans-serif;
        left: 0.25rem;
        content: attr(data-key);
        position: absolute;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
            1px 1px 0 #000;
        top: 0rem;
        z-index: 3;
    }
    &:after {
        bottom: 0;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
    &:hover,
    &.active {
        border: 1px solid rgb(253, 255, 173);
        box-shadow: 0 0 6px 1px rgb(253, 255, 173);
    }
    &:last-child {
        margin-right: 0;
    }

    .action-internal {
        background: transparent;
        border-radius: 5px;
        box-sizing: content-box;
        color: white;
        font-size: 1.2em;
        overflow: hidden;
        position: relative;
        user-select: none;
        &:after {
            box-shadow: 0 34px 16px -16px rgba(255, 255, 255, 0.4) inset;
            bottom: 0;
            content: "";
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
        }
        &:before {
            bottom: 0;
            box-shadow: 0 1px 1px -1px rgba(255, 255, 255, 1) inset,
                0 2px 1px 0px rgba(255, 255, 255, 0.4) inset,
                0 -1px 2px -1px rgba(255, 255, 255, 0.4) inset;
            content: "";
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
        }
        canvas {
            left: 50%;
            position: absolute;
            top: 50%;
            z-index: 2;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
