/** SPRITE */
.sprite {
    background-image: url(~/assets/lootequipment.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-armor {
    width: 48px;
    height: 48px;
    background-position: -5px -5px;
}

.sprite-axe {
    width: 48px;
    height: 48px;
    background-position: -63px -5px;
}

.sprite-bow {
    width: 48px;
    height: 48px;
    background-position: -121px -5px;
}

.sprite-dagger {
    width: 48px;
    height: 48px;
    background-position: -5px -63px;
}

.sprite-helmet {
    width: 48px;
    height: 48px;
    background-position: -63px -63px;
}

.sprite-potionBlue {
    width: 48px;
    height: 48px;
    background-position: -121px -63px;
}

.sprite-potionRed {
    width: 48px;
    height: 48px;
    background-position: -5px -121px;
}

.sprite-shield {
    width: 48px;
    height: 48px;
    background-position: -63px -121px;
}

.sprite-sword {
    width: 48px;
    height: 48px;
    background-position: -121px -121px;
}
