.boots {
    background-image: url(~/assets/armor_boots.png);
    background-repeat: no-repeat;
    display: block;
    &.b109t {
        width: 48px;
        height: 48px;
        background-position: -5px -5px;
    }

    &.b112t {
        width: 48px;
        height: 48px;
        background-position: -63px -5px;
    }

    &.b114t {
        width: 48px;
        height: 48px;
        background-position: -121px -5px;
    }

    &.b116t {
        width: 48px;
        height: 48px;
        background-position: -179px -5px;
    }

    &.b117t {
        width: 48px;
        height: 48px;
        background-position: -5px -63px;
    }

    &.b118t {
        width: 48px;
        height: 48px;
        background-position: -63px -63px;
    }

    &.b119t {
        width: 48px;
        height: 48px;
        background-position: -121px -63px;
    }

    &.b120t {
        width: 48px;
        height: 48px;
        background-position: -179px -63px;
    }

    &.b121t {
        width: 48px;
        height: 48px;
        background-position: -5px -121px;
    }

    &.b122t {
        width: 48px;
        height: 48px;
        background-position: -63px -121px;
    }

    &.b123t {
        width: 48px;
        height: 48px;
        background-position: -121px -121px;
    }

    &.b124t {
        width: 48px;
        height: 48px;
        background-position: -179px -121px;
    }

    &.b125t {
        width: 48px;
        height: 48px;
        background-position: -5px -179px;
    }

    &.boots_01_c_t {
        width: 48px;
        height: 48px;
        background-position: -63px -179px;
    }

    &.boots_01_h_t {
        width: 48px;
        height: 48px;
        background-position: -121px -179px;
    }

    &.boots_01_l_t {
        width: 48px;
        height: 48px;
        background-position: -179px -179px;
    }

    &.bt_03 {
        width: 48px;
        height: 48px;
        background-position: -237px -5px;
    }
}
