@mixin stitches-currency($x: 0, $y: 0, $width: 0, $height: 0) {
    background-position: $x $y;
    width: $width;
    height: $height;
}

.currency {
    background-image: url(~/assets/currencies.png);
    background-repeat: no-repeat;
    display: block;
    border-radius: 30%;
    &:before {
        font: 700 0.75em "Roboto Condensed", sans-serif;
        left: 28px;
        content: attr(data-qty);
        position: relative;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
            1px 1px 0 #000;
        top: 28px;
        z-index: 3;
    }
    &.dummy-row {
        @include stitches-currency(-5px, -5px, 48px, 48px);
    }

    &.dummy-screw {
        @include stitches-currency(-63px, -5px, 48px, 48px);
    }

    &.dummy-wood {
        @include stitches-currency(-5px, -63px, 48px, 48px);
    }

    &.gold {
        @include stitches-currency(-63px, -63px, 48px, 48px);
    }
}
