.helmet {
    background-image: url(~/assets/armor_helmet.png);
    background-repeat: no-repeat;
    display: block;

    &.h134_t {
        width: 48px;
        height: 48px;
        background-position: -5px -5px;
    }

    &.h135_t {
        width: 48px;
        height: 48px;
        background-position: -63px -5px;
    }

    &.h136_t {
        width: 48px;
        height: 48px;
        background-position: -121px -5px;
    }

    &.h137_t {
        width: 48px;
        height: 48px;
        background-position: -179px -5px;
    }

    &.h85t {
        width: 48px;
        height: 48px;
        background-position: -237px -5px;
    }

    &.h86t {
        width: 48px;
        height: 48px;
        background-position: -5px -63px;
    }

    &.h87t {
        width: 48px;
        height: 48px;
        background-position: -63px -63px;
    }

    &.h88t {
        width: 48px;
        height: 48px;
        background-position: -121px -63px;
    }

    &.h89t {
        width: 48px;
        height: 48px;
        background-position: -179px -63px;
    }

    &.h90t {
        width: 48px;
        height: 48px;
        background-position: -237px -63px;
    }

    &.h91t {
        width: 48px;
        height: 48px;
        background-position: -5px -121px;
    }

    &.h92t {
        width: 48px;
        height: 48px;
        background-position: -63px -121px;
    }

    &.h93t {
        width: 48px;
        height: 48px;
        background-position: -121px -121px;
    }

    &.h94t {
        width: 48px;
        height: 48px;
        background-position: -179px -121px;
    }

    &.h95t {
        width: 48px;
        height: 48px;
        background-position: -237px -121px;
    }

    &.h96t {
        width: 48px;
        height: 48px;
        background-position: -5px -179px;
    }

    &.h97t {
        width: 48px;
        height: 48px;
        background-position: -63px -179px;
    }

    &.hlm_c_01_t {
        width: 48px;
        height: 48px;
        background-position: -121px -179px;
    }

    &.hlm_c_02_t {
        width: 48px;
        height: 48px;
        background-position: -179px -179px;
    }

    &.hlm_l_01_t {
        width: 48px;
        height: 48px;
        background-position: -237px -179px;
    }

    &.hlm_l_02_t {
        width: 48px;
        height: 48px;
        background-position: -5px -237px;
    }

    &.hlm_n2_t {
        width: 48px;
        height: 48px;
        background-position: -63px -237px;
    }

    &.hlm_n3_t {
        width: 48px;
        height: 48px;
        background-position: -121px -237px;
    }

    &.ht_04 {
        width: 48px;
        height: 48px;
        background-position: -179px -237px;
    }

    &.ht_07 {
        width: 48px;
        height: 48px;
        background-position: -237px -237px;
    }
}
