@mixin potion($x: 0, $y: 0, $width: 0, $height: 0) {
    background-position: $x $y;
    width: $width;
    height: $height;
}

.potion {
    background-image: url(~/assets/potions.png);
    background-repeat: no-repeat;
    display: block;

    &.PotionIconsAdd_01 {
        @include potion(-5px, -5px, 48px, 48px);
    }

    &.PotionIconsAdd_02 {
        @include potion(-63px, -5px, 48px, 48px);
    }

    &.PotionIconsAdd_03 {
        @include potion(-121px, -5px, 48px, 48px);
    }

    &.PotionIconsAdd_04 {
        @include potion(-179px, -5px, 48px, 48px);
    }

    &.PotionIconsAdd_05 {
        @include potion(-237px, -5px, 48px, 48px);
    }

    &.PotionIconsAdd_06 {
        @include potion(-295px, -5px, 48px, 48px);
    }

    &.PotionIconsAdd_07 {
        @include potion(-353px, -5px, 48px, 48px);
    }

    &.PotionIconsAdd_08 {
        @include potion(-411px, -5px, 48px, 48px);
    }

    &.PotionIconsAdd_09 {
        @include potion(-469px, -5px, 48px, 48px);
    }

    &.PotionIconsAdd_10 {
        @include potion(-527px, -5px, 48px, 48px);
    }

    &.az_bottle1 {
        @include potion(-585px, -5px, 48px, 48px);
    }

    &.az_bottle10 {
        @include potion(-643px, -5px, 48px, 48px);
    }

    &.az_bottle2 {
        @include potion(-5px, -63px, 48px, 48px);
    }

    &.az_bottle3 {
        @include potion(-63px, -63px, 48px, 48px);
    }

    &.az_bottle4 {
        @include potion(-121px, -63px, 48px, 48px);
    }

    &.az_bottle5 {
        @include potion(-179px, -63px, 48px, 48px);
    }

    &.az_bottle6 {
        @include potion(-237px, -63px, 48px, 48px);
    }

    &.az_bottle7 {
        @include potion(-295px, -63px, 48px, 48px);
    }

    &.az_bottle8 {
        @include potion(-353px, -63px, 48px, 48px);
    }

    &.az_bottle9 {
        @include potion(-411px, -63px, 48px, 48px);
    }

    &.t_01 {
        @include potion(-469px, -63px, 48px, 48px);
    }

    &.t_02 {
        @include potion(-527px, -63px, 48px, 48px);
    }

    &.t_03 {
        @include potion(-585px, -63px, 48px, 48px);
    }

    &.t_04 {
        @include potion(-643px, -63px, 48px, 48px);
    }

    &.t_05 {
        @include potion(-5px, -121px, 48px, 48px);
    }

    &.t_06 {
        @include potion(-63px, -121px, 48px, 48px);
    }

    &.t_08 {
        @include potion(-121px, -121px, 48px, 48px);
    }

    &.t_09 {
        @include potion(-179px, -121px, 48px, 48px);
    }

    &.t_10 {
        @include potion(-237px, -121px, 48px, 48px);
    }

    &.t_101 {
        @include potion(-295px, -121px, 48px, 48px);
    }

    &.t_102 {
        @include potion(-353px, -121px, 48px, 48px);
    }

    &.t_103 {
        @include potion(-411px, -121px, 48px, 48px);
    }

    &.t_104 {
        @include potion(-469px, -121px, 48px, 48px);
    }

    &.t_106 {
        @include potion(-527px, -121px, 48px, 48px);
    }

    &.t_108 {
        @include potion(-585px, -121px, 48px, 48px);
    }

    &.t_109 {
        @include potion(-643px, -121px, 48px, 48px);
    }

    &.t_11 {
        @include potion(-5px, -179px, 48px, 48px);
    }

    &.t_110 {
        @include potion(-63px, -179px, 48px, 48px);
    }

    &.t_111 {
        @include potion(-121px, -179px, 48px, 48px);
    }

    &.t_112 {
        @include potion(-179px, -179px, 48px, 48px);
    }

    &.t_115 {
        @include potion(-237px, -179px, 48px, 48px);
    }

    &.t_116 {
        @include potion(-295px, -179px, 48px, 48px);
    }

    &.t_117 {
        @include potion(-353px, -179px, 48px, 48px);
    }

    &.t_118 {
        @include potion(-411px, -179px, 48px, 48px);
    }

    &.t_12 {
        @include potion(-469px, -179px, 48px, 48px);
    }

    &.t_120 {
        @include potion(-527px, -179px, 48px, 48px);
    }

    &.t_122 {
        @include potion(-585px, -179px, 48px, 48px);
    }

    &.t_123 {
        @include potion(-643px, -179px, 48px, 48px);
    }

    &.t_124 {
        @include potion(-5px, -237px, 48px, 48px);
    }

    &.t_126 {
        @include potion(-63px, -237px, 48px, 48px);
    }

    &.t_127 {
        @include potion(-121px, -237px, 48px, 48px);
    }

    &.t_129 {
        @include potion(-179px, -237px, 48px, 48px);
    }

    &.t_131 {
        @include potion(-237px, -237px, 48px, 48px);
    }

    &.t_132 {
        @include potion(-295px, -237px, 48px, 48px);
    }

    &.t_133 {
        @include potion(-353px, -237px, 48px, 48px);
    }

    &.t_135 {
        @include potion(-411px, -237px, 48px, 48px);
    }

    &.t_136 {
        @include potion(-469px, -237px, 48px, 48px);
    }

    &.t_138 {
        @include potion(-527px, -237px, 48px, 48px);
    }

    &.t_139 {
        @include potion(-585px, -237px, 48px, 48px);
    }

    &.t_14 {
        @include potion(-643px, -237px, 48px, 48px);
    }

    &.t_141 {
        @include potion(-5px, -295px, 48px, 48px);
    }

    &.t_142 {
        @include potion(-63px, -295px, 48px, 48px);
    }

    &.t_144 {
        @include potion(-121px, -295px, 48px, 48px);
    }

    &.t_145 {
        @include potion(-179px, -295px, 48px, 48px);
    }

    &.t_147 {
        @include potion(-237px, -295px, 48px, 48px);
    }

    &.t_148 {
        @include potion(-295px, -295px, 48px, 48px);
    }

    &.t_15 {
        @include potion(-353px, -295px, 48px, 48px);
    }

    &.t_150 {
        @include potion(-411px, -295px, 48px, 48px);
    }

    &.t_151 {
        @include potion(-469px, -295px, 48px, 48px);
    }

    &.t_153 {
        @include potion(-527px, -295px, 48px, 48px);
    }

    &.t_154 {
        @include potion(-585px, -295px, 48px, 48px);
    }

    &.t_156 {
        @include potion(-643px, -295px, 48px, 48px);
    }

    &.t_157 {
        @include potion(-5px, -353px, 48px, 48px);
    }

    &.t_159 {
        @include potion(-63px, -353px, 48px, 48px);
    }

    &.t_16 {
        @include potion(-121px, -353px, 48px, 48px);
    }

    &.t_160 {
        @include potion(-179px, -353px, 48px, 48px);
    }

    &.t_162 {
        @include potion(-237px, -353px, 48px, 48px);
    }

    &.t_163 {
        @include potion(-295px, -353px, 48px, 48px);
    }

    &.t_165 {
        @include potion(-353px, -353px, 48px, 48px);
    }

    &.t_166 {
        @include potion(-411px, -353px, 48px, 48px);
    }

    &.t_168 {
        @include potion(-469px, -353px, 48px, 48px);
    }

    &.t_169 {
        @include potion(-527px, -353px, 48px, 48px);
    }

    &.t_17 {
        @include potion(-585px, -353px, 48px, 48px);
    }

    &.t_170 {
        @include potion(-643px, -353px, 48px, 48px);
    }

    &.t_171 {
        @include potion(-5px, -411px, 48px, 48px);
    }

    &.t_172 {
        @include potion(-63px, -411px, 48px, 48px);
    }

    &.t_174 {
        @include potion(-121px, -411px, 48px, 48px);
    }

    &.t_175 {
        @include potion(-179px, -411px, 48px, 48px);
    }

    &.t_176 {
        @include potion(-237px, -411px, 48px, 48px);
    }

    &.t_178 {
        @include potion(-295px, -411px, 48px, 48px);
    }

    &.t_179 {
        @include potion(-353px, -411px, 48px, 48px);
    }

    &.t_18 {
        @include potion(-411px, -411px, 48px, 48px);
    }

    &.t_20 {
        @include potion(-469px, -411px, 48px, 48px);
    }

    &.t_21 {
        @include potion(-527px, -411px, 48px, 48px);
    }

    &.t_22 {
        @include potion(-585px, -411px, 48px, 48px);
    }

    &.t_23 {
        @include potion(-643px, -411px, 48px, 48px);
    }

    &.t_24 {
        @include potion(-5px, -469px, 48px, 48px);
    }

    &.t_26 {
        @include potion(-63px, -469px, 48px, 48px);
    }

    &.t_27 {
        @include potion(-121px, -469px, 48px, 48px);
    }

    &.t_28 {
        @include potion(-179px, -469px, 48px, 48px);
    }

    &.t_30 {
        @include potion(-237px, -469px, 48px, 48px);
    }

    &.t_31 {
        @include potion(-295px, -469px, 48px, 48px);
    }

    &.t_32 {
        @include potion(-353px, -469px, 48px, 48px);
    }

    &.t_34 {
        @include potion(-411px, -469px, 48px, 48px);
    }

    &.t_35 {
        @include potion(-469px, -469px, 48px, 48px);
    }

    &.t_36 {
        @include potion(-527px, -469px, 48px, 48px);
    }

    &.t_37 {
        @include potion(-585px, -469px, 48px, 48px);
    }

    &.t_38 {
        @include potion(-643px, -469px, 48px, 48px);
    }

    &.t_40 {
        @include potion(-5px, -527px, 48px, 48px);
    }

    &.t_41 {
        @include potion(-63px, -527px, 48px, 48px);
    }

    &.t_42 {
        @include potion(-121px, -527px, 48px, 48px);
    }

    &.t_44 {
        @include potion(-179px, -527px, 48px, 48px);
    }

    &.t_45 {
        @include potion(-237px, -527px, 48px, 48px);
    }

    &.t_46 {
        @include potion(-295px, -527px, 48px, 48px);
    }

    &.t_47 {
        @include potion(-353px, -527px, 48px, 48px);
    }

    &.t_49 {
        @include potion(-411px, -527px, 48px, 48px);
    }

    &.t_50 {
        @include potion(-469px, -527px, 48px, 48px);
    }

    &.t_52 {
        @include potion(-527px, -527px, 48px, 48px);
    }

    &.t_53 {
        @include potion(-585px, -527px, 48px, 48px);
    }

    &.t_54 {
        @include potion(-643px, -527px, 48px, 48px);
    }

    &.t_55 {
        @include potion(-5px, -585px, 48px, 48px);
    }

    &.t_57 {
        @include potion(-63px, -585px, 48px, 48px);
    }

    &.t_59 {
        @include potion(-121px, -585px, 48px, 48px);
    }

    &.t_60 {
        @include potion(-179px, -585px, 48px, 48px);
    }

    &.t_61 {
        @include potion(-237px, -585px, 48px, 48px);
    }

    &.t_62 {
        @include potion(-295px, -585px, 48px, 48px);
    }

    &.t_64 {
        @include potion(-353px, -585px, 48px, 48px);
    }

    &.t_65 {
        @include potion(-411px, -585px, 48px, 48px);
    }

    &.t_66 {
        @include potion(-469px, -585px, 48px, 48px);
    }

    &.t_67 {
        @include potion(-527px, -585px, 48px, 48px);
    }

    &.t_68 {
        @include potion(-585px, -585px, 48px, 48px);
    }

    &.t_69 {
        @include potion(-643px, -585px, 48px, 48px);
    }

    &.t_70 {
        @include potion(-5px, -643px, 48px, 48px);
    }

    &.t_72 {
        @include potion(-63px, -643px, 48px, 48px);
    }

    &.t_73 {
        @include potion(-121px, -643px, 48px, 48px);
    }

    &.t_74 {
        @include potion(-179px, -643px, 48px, 48px);
    }

    &.t_75 {
        @include potion(-237px, -643px, 48px, 48px);
    }

    &.t_76 {
        @include potion(-295px, -643px, 48px, 48px);
    }

    &.t_78 {
        @include potion(-353px, -643px, 48px, 48px);
    }

    &.t_79 {
        @include potion(-411px, -643px, 48px, 48px);
    }

    &.t_80 {
        @include potion(-469px, -643px, 48px, 48px);
    }

    &.t_82 {
        @include potion(-527px, -643px, 48px, 48px);
    }

    &.t_83 {
        @include potion(-585px, -643px, 48px, 48px);
    }

    &.t_85 {
        @include potion(-643px, -643px, 48px, 48px);
    }

    &.t_86 {
        @include potion(-701px, -5px, 48px, 48px);
    }

    &.t_87 {
        @include potion(-701px, -63px, 48px, 48px);
    }

    &.t_88 {
        @include potion(-701px, -121px, 48px, 48px);
    }

    &.t_89 {
        @include potion(-701px, -179px, 48px, 48px);
    }

    &.t_90 {
        @include potion(-701px, -237px, 48px, 48px);
    }

    &.t_91 {
        @include potion(-701px, -295px, 48px, 48px);
    }

    &.t_93 {
        @include potion(-701px, -353px, 48px, 48px);
    }

    &.t_94 {
        @include potion(-701px, -411px, 48px, 48px);
    }

    &.t_95 {
        @include potion(-701px, -469px, 48px, 48px);
    }

    &.t_97 {
        @include potion(-701px, -527px, 48px, 48px);
    }

    &.t_98 {
        @include potion(-701px, -585px, 48px, 48px);
    }

    &.t_99 {
        @include potion(-701px, -643px, 48px, 48px);
    }
}
