.axe {
    background-image: url(~/assets/axes.png);
    background-repeat: no-repeat;
    display: block;
    &.a1 {
        width: 48px;
        height: 48px;
        background-position: -5px -5px;
    }

    &.a10 {
        width: 48px;
        height: 48px;
        background-position: -63px -5px;
    }

    &.a11 {
        width: 48px;
        height: 48px;
        background-position: -121px -5px;
    }

    &.a12 {
        width: 48px;
        height: 48px;
        background-position: -179px -5px;
    }

    &.a13 {
        width: 48px;
        height: 48px;
        background-position: -5px -63px;
    }

    &.a14 {
        width: 48px;
        height: 48px;
        background-position: -63px -63px;
    }

    &.a15 {
        width: 48px;
        height: 48px;
        background-position: -121px -63px;
    }

    &.a16 {
        width: 48px;
        height: 48px;
        background-position: -179px -63px;
    }

    &.a17 {
        width: 48px;
        height: 48px;
        background-position: -5px -121px;
    }

    &.a18 {
        width: 48px;
        height: 48px;
        background-position: -63px -121px;
    }

    &.a19 {
        width: 48px;
        height: 48px;
        background-position: -121px -121px;
    }

    &.a2 {
        width: 48px;
        height: 48px;
        background-position: -179px -121px;
    }

    &.a20 {
        width: 48px;
        height: 48px;
        background-position: -5px -179px;
    }

    &.a21 {
        width: 48px;
        height: 48px;
        background-position: -63px -179px;
    }

    &.a22 {
        width: 48px;
        height: 48px;
        background-position: -121px -179px;
    }

    &.a23 {
        width: 48px;
        height: 48px;
        background-position: -179px -179px;
    }

    &.a24 {
        width: 48px;
        height: 48px;
        background-position: -237px -5px;
    }

    &.a3 {
        width: 48px;
        height: 48px;
        background-position: -237px -63px;
    }

    &.a4 {
        width: 48px;
        height: 48px;
        background-position: -237px -121px;
    }

    &.a5 {
        width: 48px;
        height: 48px;
        background-position: -237px -179px;
    }

    &.a6 {
        width: 48px;
        height: 48px;
        background-position: -5px -237px;
    }

    &.a7 {
        width: 48px;
        height: 48px;
        background-position: -63px -237px;
    }

    &.a8 {
        width: 48px;
        height: 48px;
        background-position: -121px -237px;
    }

    &.a9 {
        width: 48px;
        height: 48px;
        background-position: -179px -237px;
    }
}
