.mob {
    background-image: url(~/assets/mobs.png);
    background-repeat: no-repeat;
    display: block;
    &.Arctic_wolf {
        width: 128px;
        height: 128px;
        background-position: -5px -5px;
    }

    &.Plant_Monster_01 {
        width: 128px;
        height: 128px;
        background-position: -143px -5px;
    }

    &.addons_091 {
        width: 128px;
        height: 128px;
        background-position: -281px -5px;
    }

    &.addons_093 {
        width: 128px;
        height: 128px;
        background-position: -419px -5px;
    }

    &.addons_095 {
        width: 128px;
        height: 128px;
        background-position: -557px -5px;
    }

    &.addons_096 {
        width: 128px;
        height: 128px;
        background-position: -695px -5px;
    }

    &.addons_097 {
        width: 128px;
        height: 128px;
        background-position: -833px -5px;
    }

    &.ancient_vampire {
        width: 128px;
        height: 128px;
        background-position: -971px -5px;
    }

    &.ash_zombies {
        width: 128px;
        height: 128px;
        background-position: -1109px -5px;
    }

    &.banshee {
        width: 128px;
        height: 128px;
        background-position: -1247px -5px;
    }

    &.bat_01 {
        width: 128px;
        height: 128px;
        background-position: -1385px -5px;
    }

    &.bear {
        width: 128px;
        height: 128px;
        background-position: -5px -143px;
    }

    &.bear_01 {
        width: 128px;
        height: 128px;
        background-position: -143px -143px;
    }

    &.beest_01 {
        width: 128px;
        height: 128px;
        background-position: -281px -143px;
    }

    &.beest_02 {
        width: 128px;
        height: 128px;
        background-position: -419px -143px;
    }

    &.beest_03 {
        width: 128px;
        height: 128px;
        background-position: -557px -143px;
    }

    &.bird_01 {
        width: 128px;
        height: 128px;
        background-position: -695px -143px;
    }

    &.bogard {
        width: 128px;
        height: 128px;
        background-position: -833px -143px;
    }

    &.bone_beast {
        width: 128px;
        height: 128px;
        background-position: -971px -143px;
    }

    &.buddy {
        width: 128px;
        height: 128px;
        background-position: -1109px -143px;
    }

    &.bug {
        width: 128px;
        height: 128px;
        background-position: -1247px -143px;
    }

    &.bug2 {
        width: 128px;
        height: 128px;
        background-position: -1385px -143px;
    }

    &.cat_01 {
        width: 128px;
        height: 128px;
        background-position: -5px -281px;
    }

    &.chicken_01 {
        width: 128px;
        height: 128px;
        background-position: -143px -281px;
    }

    &.crocodile_01 {
        width: 128px;
        height: 128px;
        background-position: -281px -281px;
    }

    &.crow_01 {
        width: 128px;
        height: 128px;
        background-position: -419px -281px;
    }

    &.crystal_golem_01 {
        width: 128px;
        height: 128px;
        background-position: -557px -281px;
    }

    &.cyclop_01 {
        width: 128px;
        height: 128px;
        background-position: -695px -281px;
    }

    &.dark_knight_01 {
        width: 128px;
        height: 128px;
        background-position: -833px -281px;
    }

    &.dark_knight_02 {
        width: 128px;
        height: 128px;
        background-position: -971px -281px;
    }

    &.dark_knight_03 {
        width: 128px;
        height: 128px;
        background-position: -1109px -281px;
    }

    &.dark_knight_04 {
        width: 128px;
        height: 128px;
        background-position: -1247px -281px;
    }

    &.demon_01 {
        width: 128px;
        height: 128px;
        background-position: -1385px -281px;
    }

    &.demon_02 {
        width: 128px;
        height: 128px;
        background-position: -5px -419px;
    }

    &.demon_03 {
        width: 128px;
        height: 128px;
        background-position: -143px -419px;
    }

    &.demon_04 {
        width: 128px;
        height: 128px;
        background-position: -281px -419px;
    }

    &.demon_05 {
        width: 128px;
        height: 128px;
        background-position: -419px -419px;
    }

    &.demon_06 {
        width: 128px;
        height: 128px;
        background-position: -557px -419px;
    }

    &.demon_07 {
        width: 128px;
        height: 128px;
        background-position: -695px -419px;
    }

    &.demon_08 {
        width: 128px;
        height: 128px;
        background-position: -833px -419px;
    }

    &.diver_01 {
        width: 128px;
        height: 128px;
        background-position: -971px -419px;
    }

    &.dog_01 {
        width: 128px;
        height: 128px;
        background-position: -1109px -419px;
    }

    &.doll_01 {
        width: 128px;
        height: 128px;
        background-position: -1247px -419px;
    }

    &.dragon_01 {
        width: 128px;
        height: 128px;
        background-position: -1385px -419px;
    }

    &.dragon_02 {
        width: 128px;
        height: 128px;
        background-position: -5px -557px;
    }

    &.dragon_03 {
        width: 128px;
        height: 128px;
        background-position: -143px -557px;
    }

    &.dragon_04 {
        width: 128px;
        height: 128px;
        background-position: -281px -557px;
    }

    &.dragon_05 {
        width: 128px;
        height: 128px;
        background-position: -419px -557px;
    }

    &.dragon_06 {
        width: 128px;
        height: 128px;
        background-position: -557px -557px;
    }

    &.dragon_07 {
        width: 128px;
        height: 128px;
        background-position: -695px -557px;
    }

    &.dragon_08 {
        width: 128px;
        height: 128px;
        background-position: -833px -557px;
    }

    &.dragon_09 {
        width: 128px;
        height: 128px;
        background-position: -971px -557px;
    }

    &.dragon_10 {
        width: 128px;
        height: 128px;
        background-position: -1109px -557px;
    }

    &.dragon_11 {
        width: 128px;
        height: 128px;
        background-position: -1247px -557px;
    }

    &.dragon_12 {
        width: 128px;
        height: 128px;
        background-position: -1385px -557px;
    }

    &.dragon_13 {
        width: 128px;
        height: 128px;
        background-position: -5px -695px;
    }

    &.dummy_01 {
        width: 128px;
        height: 128px;
        background-position: -143px -695px;
    }

    &.elephant_01 {
        width: 128px;
        height: 128px;
        background-position: -281px -695px;
    }

    &.eye_01 {
        width: 128px;
        height: 128px;
        background-position: -419px -695px;
    }

    &.eye_02 {
        width: 128px;
        height: 128px;
        background-position: -557px -695px;
    }

    &.froggy {
        width: 128px;
        height: 128px;
        background-position: -695px -695px;
    }

    &.frost_giant_01 {
        width: 128px;
        height: 128px;
        background-position: -833px -695px;
    }

    &.ghost_01 {
        width: 128px;
        height: 128px;
        background-position: -971px -695px;
    }

    &.ghoul_01 {
        width: 128px;
        height: 128px;
        background-position: -1109px -695px;
    }

    &.goat_01 {
        width: 128px;
        height: 128px;
        background-position: -1247px -695px;
    }

    &.gobelino {
        width: 128px;
        height: 128px;
        background-position: -1385px -695px;
    }

    &.goblin_02 {
        width: 128px;
        height: 128px;
        background-position: -5px -833px;
    }

    &.goblin_03 {
        width: 128px;
        height: 128px;
        background-position: -143px -833px;
    }

    &.goboss {
        width: 128px;
        height: 128px;
        background-position: -281px -833px;
    }

    &.golem_01 {
        width: 128px;
        height: 128px;
        background-position: -419px -833px;
    }

    &.golem_01a {
        width: 128px;
        height: 128px;
        background-position: -557px -833px;
    }

    &.golem_02 {
        width: 128px;
        height: 128px;
        background-position: -695px -833px;
    }

    &.golem_03 {
        width: 128px;
        height: 128px;
        background-position: -833px -833px;
    }

    &.golem_04 {
        width: 128px;
        height: 128px;
        background-position: -971px -833px;
    }

    &.gremlin_01 {
        width: 128px;
        height: 128px;
        background-position: -1109px -833px;
    }

    &.grey-wolf_02 {
        width: 128px;
        height: 128px;
        background-position: -1247px -833px;
    }

    &.horse_01 {
        width: 128px;
        height: 128px;
        background-position: -1385px -833px;
    }

    &.hound {
        width: 128px;
        height: 128px;
        background-position: -5px -971px;
    }

    &.insect_01 {
        width: 128px;
        height: 128px;
        background-position: -143px -971px;
    }

    &.insect_02 {
        width: 128px;
        height: 128px;
        background-position: -281px -971px;
    }

    &.insect_03 {
        width: 128px;
        height: 128px;
        background-position: -419px -971px;
    }

    &.jin {
        width: 128px;
        height: 128px;
        background-position: -557px -971px;
    }

    &.joker_01 {
        width: 128px;
        height: 128px;
        background-position: -695px -971px;
    }

    &.joker_02 {
        width: 128px;
        height: 128px;
        background-position: -833px -971px;
    }

    &.l_01 {
        width: 128px;
        height: 128px;
        background-position: -971px -971px;
    }

    &.l_02 {
        width: 128px;
        height: 128px;
        background-position: -1109px -971px;
    }

    &.l_03 {
        width: 128px;
        height: 128px;
        background-position: -1247px -971px;
    }

    &.lion_01 {
        width: 128px;
        height: 128px;
        background-position: -1385px -971px;
    }

    &.living_armor_01 {
        width: 128px;
        height: 128px;
        background-position: -5px -1109px;
    }

    &.living_armor_02 {
        width: 128px;
        height: 128px;
        background-position: -143px -1109px;
    }

    &.living_armor_03 {
        width: 128px;
        height: 128px;
        background-position: -281px -1109px;
    }

    &.living_armor_04 {
        width: 128px;
        height: 128px;
        background-position: -419px -1109px;
    }

    &.lizardman_01 {
        width: 128px;
        height: 128px;
        background-position: -557px -1109px;
    }

    &.madman {
        width: 128px;
        height: 128px;
        background-position: -695px -1109px;
    }

    &.mask_01 {
        width: 128px;
        height: 128px;
        background-position: -833px -1109px;
    }

    &.mummy_01 {
        width: 128px;
        height: 128px;
        background-position: -971px -1109px;
    }

    &.nightmare_01 {
        width: 128px;
        height: 128px;
        background-position: -1109px -1109px;
    }

    &.ogr_01 {
        width: 128px;
        height: 128px;
        background-position: -1247px -1109px;
    }

    &.orc_01 {
        width: 128px;
        height: 128px;
        background-position: -1385px -1109px;
    }

    &.orc_02 {
        width: 128px;
        height: 128px;
        background-position: -5px -1247px;
    }

    &.orc_03 {
        width: 128px;
        height: 128px;
        background-position: -143px -1247px;
    }

    &.orc_04 {
        width: 128px;
        height: 128px;
        background-position: -281px -1247px;
    }

    &.orc_05 {
        width: 128px;
        height: 128px;
        background-position: -419px -1247px;
    }

    &.owl_01 {
        width: 128px;
        height: 128px;
        background-position: -557px -1247px;
    }

    &.ox_01 {
        width: 128px;
        height: 128px;
        background-position: -695px -1247px;
    }

    &.parasit_01 {
        width: 128px;
        height: 128px;
        background-position: -833px -1247px;
    }

    &.parasit_02 {
        width: 128px;
        height: 128px;
        background-position: -971px -1247px;
    }

    &.phoenix_01 {
        width: 128px;
        height: 128px;
        background-position: -1109px -1247px;
    }

    &.pig_01 {
        width: 128px;
        height: 128px;
        background-position: -1247px -1247px;
    }

    &.pumpkin {
        width: 128px;
        height: 128px;
        background-position: -1385px -1247px;
    }

    &.rat_01 {
        width: 128px;
        height: 128px;
        background-position: -5px -1385px;
    }

    &.red_ghoul_01 {
        width: 128px;
        height: 128px;
        background-position: -143px -1385px;
    }

    &.robot_01 {
        width: 128px;
        height: 128px;
        background-position: -281px -1385px;
    }

    &.robot_02 {
        width: 128px;
        height: 128px;
        background-position: -419px -1385px;
    }

    &.robot_03 {
        width: 128px;
        height: 128px;
        background-position: -557px -1385px;
    }

    &.robot_04 {
        width: 128px;
        height: 128px;
        background-position: -695px -1385px;
    }

    &.robot_05 {
        width: 128px;
        height: 128px;
        background-position: -833px -1385px;
    }

    &.sheep_01 {
        width: 128px;
        height: 128px;
        background-position: -971px -1385px;
    }

    &.skeleton_01 {
        width: 128px;
        height: 128px;
        background-position: -1109px -1385px;
    }

    &.skeleton_02 {
        width: 128px;
        height: 128px;
        background-position: -1247px -1385px;
    }

    &.skeleton_03 {
        width: 128px;
        height: 128px;
        background-position: -1385px -1385px;
    }

    &.skeleton_04 {
        width: 128px;
        height: 128px;
        background-position: -1523px -5px;
    }

    &.skeleton_05 {
        width: 128px;
        height: 128px;
        background-position: -1523px -143px;
    }

    &.skeleton_06 {
        width: 128px;
        height: 128px;
        background-position: -1523px -281px;
    }

    &.skeleton_07 {
        width: 128px;
        height: 128px;
        background-position: -1523px -419px;
    }

    &.snail_01 {
        width: 128px;
        height: 128px;
        background-position: -1523px -557px;
    }

    &.snail_02 {
        width: 128px;
        height: 128px;
        background-position: -1523px -695px;
    }

    &.snake_01 {
        width: 128px;
        height: 128px;
        background-position: -1523px -833px;
    }

    &.spider_01 {
        width: 128px;
        height: 128px;
        background-position: -1523px -971px;
    }

    &.spider_02 {
        width: 128px;
        height: 128px;
        background-position: -1523px -1109px;
    }

    &.spider_03 {
        width: 128px;
        height: 128px;
        background-position: -1523px -1247px;
    }

    &.tentacle_01 {
        width: 128px;
        height: 128px;
        background-position: -1523px -1385px;
    }

    &.troll_01 {
        width: 128px;
        height: 128px;
        background-position: -5px -1523px;
    }

    &.turtle_01 {
        width: 128px;
        height: 128px;
        background-position: -143px -1523px;
    }

    &.werewolf_01 {
        width: 128px;
        height: 128px;
        background-position: -281px -1523px;
    }

    &.yeti_01 {
        width: 128px;
        height: 128px;
        background-position: -419px -1523px;
    }

    &.zombie_01 {
        width: 128px;
        height: 128px;
        background-position: -557px -1523px;
    }

    &.zombie_02 {
        width: 128px;
        height: 128px;
        background-position: -695px -1523px;
    }
}
