.helmet {
    background-image: url(~/assets/armor_helmet.png);
    background-repeat: no-repeat;
    display: block;

    &.h1 {
        width: 48px;
        height: 48px;
        background-position: -5px -5px;
    }

    &.h2 {
        width: 48px;
        height: 48px;
        background-position: -63px -5px;
    }

    &.h3 {
        width: 48px;
        height: 48px;
        background-position: -121px -5px;
    }

    &.h4 {
        width: 48px;
        height: 48px;
        background-position: -179px -5px;
    }

    &.h5 {
        width: 48px;
        height: 48px;
        background-position: -237px -5px;
    }

    &.h6 {
        width: 48px;
        height: 48px;
        background-position: -5px -63px;
    }

    &.h7 {
        width: 48px;
        height: 48px;
        background-position: -63px -63px;
    }

    &.h8 {
        width: 48px;
        height: 48px;
        background-position: -121px -63px;
    }

    &.h9 {
        width: 48px;
        height: 48px;
        background-position: -179px -63px;
    }

    &.h10 {
        width: 48px;
        height: 48px;
        background-position: -237px -63px;
    }

    &.h11 {
        width: 48px;
        height: 48px;
        background-position: -5px -121px;
    }

    &.h12 {
        width: 48px;
        height: 48px;
        background-position: -63px -121px;
    }

    &.h13 {
        width: 48px;
        height: 48px;
        background-position: -121px -121px;
    }

    &.h14 {
        width: 48px;
        height: 48px;
        background-position: -179px -121px;
    }

    &.h15 {
        width: 48px;
        height: 48px;
        background-position: -237px -121px;
    }

    &.h16 {
        width: 48px;
        height: 48px;
        background-position: -5px -179px;
    }

    &.h17 {
        width: 48px;
        height: 48px;
        background-position: -63px -179px;
    }

    &.h18 {
        width: 48px;
        height: 48px;
        background-position: -121px -179px;
    }

    &.h19 {
        width: 48px;
        height: 48px;
        background-position: -179px -179px;
    }

    &.h20 {
        width: 48px;
        height: 48px;
        background-position: -237px -179px;
    }

    &.h21 {
        width: 48px;
        height: 48px;
        background-position: -5px -237px;
    }

    &.h22 {
        width: 48px;
        height: 48px;
        background-position: -63px -237px;
    }

    &.h23 {
        width: 48px;
        height: 48px;
        background-position: -121px -237px;
    }

    &.h24 {
        width: 48px;
        height: 48px;
        background-position: -179px -237px;
    }

    &.h25 {
        width: 48px;
        height: 48px;
        background-position: -237px -237px;
    }
}
