@mixin i($x: 0, $y: 0, $width: 0, $height: 0) {
    background-position: $x $y;
    width: $width;
    height: $height;
}
.mob {
    background-image: url(~/assets/mobs.png);
    background-repeat: no-repeat;
    display: block;
    &.gobelino {
        @include i(-5px, -5px, 128px, 128px);
    }

    &.goboss {
        @include i(-143px, -5px, 128px, 128px);
    }

    &.creepyBuddy {
        @include i(-281px, -5px, 128px, 128px);
    }

    &.demon {
        @include i(-5px, -143px, 128px, 128px);
    }

    &.babyDragon {
        @include i(-143px, -143px, 128px, 128px);
    }

    &.dummy {
        @include i(-281px, -143px, 128px, 128px);
    }

    &.joker {
        @include i(-5px, -281px, 128px, 128px);
    }

    &.piggy {
        @include i(-143px, -281px, 128px, 128px);
    }

    &.sheepy {
        @include i(-281px, -281px, 128px, 128px);
    }

    &.froggy {
        @include i(-419px, -5px, 128px, 128px);
    }
}
