.gloves {
    background-image: url(~/assets/armor_gloves.png);
    background-repeat: no-repeat;
    display: block;

    &.g105t {
        width: 48px;
        height: 48px;
        background-position: -5px -5px;
    }

    &.g106t {
        width: 48px;
        height: 48px;
        background-position: -63px -5px;
    }

    &.g107t {
        width: 48px;
        height: 48px;
        background-position: -121px -5px;
    }

    &.g108t {
        width: 48px;
        height: 48px;
        background-position: -179px -5px;
    }

    &.g110t {
        width: 48px;
        height: 48px;
        background-position: -5px -63px;
    }

    &.g111t {
        width: 48px;
        height: 48px;
        background-position: -63px -63px;
    }

    &.g113t {
        width: 48px;
        height: 48px;
        background-position: -121px -63px;
    }

    &.g115t {
        width: 48px;
        height: 48px;
        background-position: -179px -63px;
    }

    &.g126t {
        width: 48px;
        height: 48px;
        background-position: -5px -121px;
    }

    &.g127t {
        width: 48px;
        height: 48px;
        background-position: -63px -121px;
    }

    &.g128t {
        width: 48px;
        height: 48px;
        background-position: -121px -121px;
    }

    &.g129t {
        width: 48px;
        height: 48px;
        background-position: -179px -121px;
    }

    &.g130t {
        width: 48px;
        height: 48px;
        background-position: -5px -179px;
    }

    &.g131_t {
        width: 48px;
        height: 48px;
        background-position: -63px -179px;
    }

    &.ggl_c_01_t {
        width: 48px;
        height: 48px;
        background-position: -121px -179px;
    }

    &.ggl_c_02_t {
        width: 48px;
        height: 48px;
        background-position: -179px -179px;
    }

    &.ggl_h_01_t {
        width: 48px;
        height: 48px;
        background-position: -237px -5px;
    }

    &.ggl_l_01_t {
        width: 48px;
        height: 48px;
        background-position: -237px -63px;
    }

    &.ggl_l_02_t {
        width: 48px;
        height: 48px;
        background-position: -237px -121px;
    }

    &.ggl_n2_t {
        width: 48px;
        height: 48px;
        background-position: -237px -179px;
    }

    &.gt_09 {
        width: 48px;
        height: 48px;
        background-position: -5px -237px;
    }
}
