$accent: #0093ff;
$eucalyptus: hsla(145, 63%, 40%, 1);
$chambray: hsla(225, 46%, 42%, 1);
$body: hsla(30, 50%, 94%, 1);
$maroon: hsla(31, 19%, 69%, 1);
$violet: hsla(265, 12%, 20%, 1);
$red: hsla(2, 79%, 56%, 1);
$darkgreybutton: hsla(180, 8%, 29%, 1);
$lightgreybutton: hsla(180, 8%, 69%, 1);
