$carreraWhite: #f2f1ef;
$outerspaceGrey: #2e3131;
$eucalyptus: hsla(145, 63%, 40%, 1);
$chambray: hsla(225, 46%, 42%, 1);
$blueRareItem: hsla(214, 65%, 55%, 1);
$greenCommonItem: hsla(112, 95%, 45%, 1);
$body: #1f2025;
$maroon: hsla(31, 19%, 69%, 1);
$violet: hsla(265, 12%, 20%, 1);
$orange: hsla(16, 88%, 54%, 1);
$red: #ac2b35;
$darkgreybutton: hsla(180, 8%, 29%, 1);
$lightgreybutton: hsla(180, 8%, 69%, 1);

$greenTextOnBody: #bdb643;
$blueTextOnBody: #3b5888;
$lavenderTextOnBody: #91a0ca;
$purpleEpicItem: hsl(296, 93%, 37%);
