@import "variables.scss";
@import "sprites.scss";
@import "sprite-currencies.scss";
:host {
    width: 100%;
    max-height: inherit;
    overflow: auto;
}

.content {
    height: 60px;
    cursor: pointer;
    box-shadow: 0 0.2rem 0.15rem lightslategrey;
    box-sizing: border-box;
    margin: 5px;
    border: 1px solid lightslategrey;
    padding-right: 5px;
    font-weight: bold;
    &.disabled {
        cursor: default;
    }
    .item-name {
        text-align: center;
        font-size: small;
    }
    .currency {
        margin-left: auto;
    }
    &.rare {
        box-shadow: 0 0.2rem 0.15rem $blueRareItem;
        .item-name {
            color: $blueRareItem;
        }
    }
    &.uncommon {
        box-shadow: 0 0.2rem 0.15rem $greenCommonItem;
        .item-name {
            color: $greenCommonItem;
        }
    }
    &.epic {
        box-shadow: 0 0.2rem 0.15rem $purpleEpicItem;
        .item-name {
            color: $purpleEpicItem;
        }
    }
    &.common {
        box-shadow: 0 0.2rem 0.15rem $carreraWhite;
        color: $carreraWhite;
    }
}
