<ng-container *transloco="let tsl; read: 'city.city_shop.content'">
    <div fxLayout="column">
        <span *ngIf="_shop.intervalStock !== undefined">{{
            tsl("shopReset", { timer: timer })
        }}</span>
        <div
            *ngFor="let item of _shop.items; trackBy: trackByFn"
            class="content {{ item.quality }}"
            (mouseenter)="setItem(item)"
            (mouseleave)="setItem(null)"
        >
            <i class="{{ item.subType }} {{ item.icon }} "></i>
            <span class="item-name">
                {{ item.name }}
            </span>
            <div class="action">
                <span class="item-value"> {{ item.value }}g </span>
                <button
                    *ngIf="
                        item.value <= (getCurrency('gold') | async)?.quantity
                    "
                    (click)="buyItem(item)"
                >
                    {{ tsl("buy") }}
                </button>
            </div>
        </div>
    </div>
</ng-container>
