<ng-container *transloco="let tsl">
    <div fxLayout="column">
        <span *ngIf="_shop.intervalStock !== undefined">{{
            tsl("city.city_shop.content.shopReset", { timer: timer })
        }}</span>
        <div
            *ngFor="let item of _shop.items; trackBy: trackByFn"
            class="content {{ item.quality }}"
            [tooltip]="item"
            [tooltip-equipped]="item"
            [tooltip-equipped]="equipped(item)"
            [tooltip-detach]="itemNull"
        >
            <i class="{{ item.subType }} {{ item.icon }} "></i>
            <span class="item-name">
                {{ tsl(item.name) }}
            </span>
            <div class="action">
                <span class="item-value"> {{ item.value }}g </span>
                <button
                    *ngIf="
                        item.value <= (getCurrency('gold') | async)?.quantity
                    "
                    (click)="buyItem(item)"
                >
                    {{ tsl("city.city_shop.content.buy") }}
                </button>
            </div>
        </div>
    </div>
</ng-container>
