@import "sprite-peasantSkills.scss";
@import "variables.scss";
@import "sprite-set.scss";
@import "sprite-currencies.scss";
@import "sprites.scss";

:host {
    position: absolute;
    bottom: 10%;
    left: 2%;
}
i {
    @mixin shadow($color) {
        box-shadow: 0px 0px 5px 2px $color;
    }
    &.rare {
        @include shadow($blueRareItem);
    }
    &.uncommon {
        @include shadow($greenCommonItem);
    }
    &.epic {
        @include shadow($purpleEpicItem);
    }
    &.common {
        @include shadow($carreraWhite);
    }
}
