<ng-container *transloco="let t; read: 'map'">
    <app-modal [cclass]="'map'" (close)="onClose()" [header]="t('map')">
        <div fxLayout="column nowrap">
            <a
                fxLayout="row"
                fxLayoutAlign="center center"
                fxLayout="column"
                [routerLink]="['/house']"
                class="travel-container"
                [routerLinkActive]="'active'"
            >
                <div>
                    <label> {{ t("house") }} </label>
                    <span class="requirement"></span>
                </div>
            </a>
            <a
                [routerLink]="['/world/city', 'zulah']"
                [routerLinkActive]="'active'"
                fxLayout="row"
                fxLayoutAlign="center center"
                class="travel-container"
            >
                <div fxLayout="column">
                    <label>Zulah</label>
                    <span class="requirement"></span>
                </div>
            </a>
        </div>
    </app-modal>
</ng-container>
