<ng-container *transloco="let t">
    <app-modal [cclass]="'map'" (close)="onClose()" [header]="t('map.map')">
        <div fxLayout="column nowrap">
            <a
                fxLayout="row"
                fxLayoutAlign="center center"
                fxLayout="column"
                [routerLink]="['/house']"
                class="travel-container"
                [routerLinkActive]="'active'"
            >
                <div>
                    <label> {{ t("map.house") }} </label>
                    <span class="requirement"></span>
                </div>
            </a>
            <a
                *ngFor="let city of cities$ | async"
                [routerLink]="['/world/city', city.id]"
                [routerLinkActive]="'active'"
                fxLayout="row"
                fxLayoutAlign="center center"
                class="travel-container"
            >
                <div fxLayout="column">
                    <label>{{ t(city.name) }}</label>
                </div>
            </a>
        </div>
    </app-modal>
</ng-container>
