<ng-container *transloco="let tsl">
    <div fxLayout="column">
        <div
            *ngFor="let u of _shop.upgrades; let i = index; trackBy: trackByFn"
        >
            <div
                class="upgrade-content"
                fxLayout="row"
                fxLayoutAlign="space-between center"
            >
                <div fxLayout="column">
                    <label>
                        {{ tsl(u.name) }}
                    </label>
                    <span class="description">
                        {{ tsl(u.description, descriptionFor(u, _shop)) }}
                    </span>
                </div>
                <div fxLayout="column">
                    <span> Level {{ u.level }}/{{ u.levelMax }} </span>
                    <button
                        *ngIf="
                            price(u) < (_gold$ | async).quantity &&
                                u.level < u.levelMax;
                            else spanPrice
                        "
                        (click)="upgrade(u, i)"
                    >
                        {{ price(u) }}g
                    </button>
                    <ng-template #spanPrice>
                        <span class="text-right"> {{ price(u) }}g </span>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</ng-container>
