.portrait-avatar {
    display: flex;
    flex-direction: column;
    width: 15%;
    align-items: center;
    justify-content: center;
}
.portrait-bars {
    display: flex;
    flex-direction: column;
    width: 100%;
}
