<ng-container *transloco="let tsl; read: 'city.city_shop.content'">
    <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="_shop">
        <ng-container *ngIf="displayedContent === 'shop'">
            <app-city-shop-content-shop
                [shop]="_shop"
                [cityId]="cityId"
                (onSetItem)="inventory.setItem($event)"
            ></app-city-shop-content-shop>
        </ng-container>
        <div fxLayout="column" fxLayoutAlign="start">
            <span> {{ tsl("yourInventory") }} </span>
            <app-inventory-slot
                (sell)="sellItem($event)"
                [selling]="true"
                #inventory
            ></app-inventory-slot>
        </div>
    </div>
</ng-container>
