<ng-container *transloco="let tsl; read: 'city.city_shop.content'">
    <div
        fxLayout="row"
        class="container"
        fxLayoutAlign="space-between"
        *ngIf="_shop"
    >
        <ng-container *ngIf="displayedContent === 'shop'">
            <app-city-shop-content-shop
                [shop]="_shop"
                [cityId]="cityId"
                (onSetItem)="inventory.setItem($event)"
            ></app-city-shop-content-shop>
            <div fxLayout="column" fxLayoutAlign="start">
                <span> {{ tsl("yourInventory") }} </span>
                <app-inventory-slot
                    (sell)="sellItem($event)"
                    [selling]="true"
                    #inventory
                ></app-inventory-slot>
            </div>
        </ng-container>
        <ng-container *ngIf="displayedContent === 'craft'">
            <app-city-shop-craft
                [shop]="_shop"
                [cityId]="cityId"
            ></app-city-shop-craft>
        </ng-container>
        <ng-container *ngIf="displayedContent === 'upgrade'">
            <app-city-shop-content-upgrade
                [shop]="_shop"
                [cityId]="cityId"
            ></app-city-shop-content-upgrade>
        </ng-container>
    </div>
</ng-container>
