<ng-container *transloco="let tsl">
    <div class="container" *ngIf="city$ | async as city">
        <h1>{{ tsl(city.name) }}</h1>
        <p>{{ tsl(city?.description) }}</p>
        <div fxLayout="row rowwrap" fxLayoutAlign="center center">
            <button
                (click)="setTab('shop')"
                [ngClass]="{ active: tab === 'shop' }"
            >
                {{ tsl("city.tab.shops") }}
            </button>
            <button
                (click)="setTab('building')"
                [ngClass]="{ active: tab === 'building' }"
            >
                {{ tsl("city.tab.building") }}
            </button>
        </div>
        <ng-container *ngIf="tab == 'shop'">
            <div fxLayout="row nowrap" fxLayoutAlign="center center">
                <button
                    *ngFor="let shop of city.shops; trackBy: trackByFn"
                    (click)="setShop(shop)"
                    [ngClass]="{ active: shop.type === (shop$ | async)?.type }"
                >
                    {{ tsl(shop.name) }}
                </button>
            </div>
            <app-city-shop [shop]="shop$" [cityId]="city.id"></app-city-shop>
        </ng-container>
        <ng-container *ngIf="tab == 'building'">
            <div fxLayout="row nowrap" fxLayoutAlign="center center">
                <button
                    *ngFor="
                        let building of city.building;
                        trackBy: trackByFnBuilding
                    "
                    (click)="setBuilding(building)"
                    [ngClass]="{
                        active: building.type === (building$ | async)?.type
                    }"
                >
                    {{ tsl(building.name) }}
                </button>
            </div>
            <app-city-building
                [building]="building$"
                [cityId]="city.id"
            ></app-city-building>
        </ng-container>
    </div>
</ng-container>
