<ng-container *transloco="let tsl">
    <div class="container" *ngIf="city$ | async as city">
        <h1>{{ tsl(city.name) }}</h1>
        <p>{{ tsl(city?.description) }}</p>
        <div fxLayout="row nowrap" fxLayoutAlign="center center">
            <i
                class="building {{ shop.type }}"
                [attr.data-desc]="tsl(shop.name)"
                *ngFor="let shop of city.shops; trackBy: trackByFn"
                (click)="setShop(shop)"
                [ngClass]="{ active: shop.type === (shop$ | async)?.type }"
            >
            </i>
            <i
                class="building {{ building.type }}"
                [attr.data-desc]="tsl(building.name)"
                *ngFor="
                    let building of city.building;
                    trackBy: trackByFnBuilding
                "
                (click)="setBuilding(building)"
                [ngClass]="{
                    active: building.type === (building$ | async)?.type
                }"
            >
            </i>
        </div>
        <app-city-shop
            *ngIf="shop$"
            [shop]="shop$"
            [cityId]="city.id"
        ></app-city-shop>
        <app-city-building
            *ngIf="building$"
            [building]="building$"
            [city]="city"
        ></app-city-building>
    </div>
</ng-container>
