<ng-container>
    <app-inventory
        *ngIf="showInventory"
        (closing)="showInventory = !showInventory"
    ></app-inventory>
    <app-character
        (closing)="showStat = !showStat"
        *ngIf="showStat"
    ></app-character>
    <app-spellbook
        (closing)="showSpells = !showSpells"
        *ngIf="showSpells"
    ></app-spellbook>
    <app-hud-tools (closing)="showOptions = !showOptions" *ngIf="showOptions">
    </app-hud-tools>
    <app-map (closing)="showMap = !showMap" *ngIf="showMap"></app-map>
    <nav class="menu-action">
        <input type="checkbox" checked />
        <span class="burger"></span>
        <span class="burger"></span>
        <span class="burger"></span>
        <div class="dock">
            <ul>
                <li>
                    <i
                        class="sprite sprite-map"
                        (click)="showMap = !showMap"
                    ></i>
                </li>
                <li>
                    <i
                        class="sprite sprite-backpack"
                        (click)="showInventory = !showInventory"
                    ></i>
                    <span class="nbSlot">{{ totalInventory$ | async }}</span>
                </li>
                <li>
                    <i
                        class="sprite sprite-scroll"
                        (click)="showStat = !showStat"
                    ></i>
                </li>
                <li>
                    <i
                        (click)="showSpells = !showSpells"
                        class="sprite sprite-tome"
                    ></i>
                </li>
                <li>
                    <i
                        class="sprite sprite-tools"
                        (click)="showOptions = !showOptions"
                    ></i>
                </li>
            </ul>
        </div>
    </nav>
</ng-container>
