<ng-container>
    <app-inventory
        *ngIf="showInventory"
        (closing)="showInventory = !showInventory"
    ></app-inventory>
    <app-character
        (closing)="showStat = !showStat"
        *ngIf="showStat"
    ></app-character>
    <app-hud-tools (closing)="showOptions = !showOptions" *ngIf="showOptions">
    </app-hud-tools>
    <div class="dock">
        <ul>
            <li>
                <i
                    class="sprite sprite-backpack"
                    (click)="showInventory = !showInventory"
                ></i>
                <span class="nbSlot">{{ totalInventory$ | async }}</span>
            </li>
            <li>
                <i
                    class="sprite sprite-scroll"
                    (click)="showStat = !showStat"
                ></i>
            </li>
            <li>
                <i class="sprite sprite-tome"></i>
            </li>
            <li>
                <i
                    class="sprite sprite-tools"
                    (click)="showOptions = !showOptions"
                ></i>
            </li>
        </ul>
    </div>
</ng-container>
