@import "variables.scss";
.progress {
    width: 100%;
    height: 15px;
    background: $lightgreybutton;
    box-sizing: border-box;
}

.filling-bar {
    max-width: inherit;
    height: inherit;
    background-color: transparentize($color: $greenCommonItem, $amount: 0.45);
}
