<ng-container *transloco="let tsl">
    <div *ngIf="_hero$ | async as hero" class="tab-container">
        <app-card
            *ngFor="let work of _work$ | async; trackBy: trackByFn"
            (click)="doWorking$.next(work)"
        >
            <ng-container cardHeader>
                <span>
                    {{ tsl(work.name) }}
                </span>
            </ng-container>
            <ng-container cardBody>
                <label>
                    {{ tsl(work.description) }}
                </label>
            </ng-container>
            <ng-container cardFooter>
                <div class="information">
                    <span> {{ tsl("house.reward") }} : </span>
                    <i
                        class="currency {{ work.currency.name }}"
                        [attr.data-qty]="work.currency.quantity"
                    ></i>
                    <span>
                        {{ tsl("house.work.currentGold") }}
                        {{ (_gold$ | async)?.quantity }}
                    </span>
                    <span> {{ getTime(work) / 1000 }}s </span>
                </div>
                <app-progressbar
                    time="{{ getTime(work) }}ms"
                    [animate]="work.isActive ? 'filling' : 'initial'"
                ></app-progressbar>
            </ng-container>
        </app-card>
    </div>
</ng-container>
