.dock {
    position: absolute;
    bottom: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
}
.dock ul {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    padding: 20px;
    position: relative;
}
.dock ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    transition: all 0.3s linear;
    cursor: pointer;
}

/* SPIRITE*/
.sprite {
    background-image: url(../assets/dock.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-backpack {
    width: 64px;
    height: 64px;
    background-position: -5px -5px;
}

.sprite-envelope {
    width: 64px;
    height: 64px;
    background-position: -79px -5px;
}

.sprite-map {
    width: 64px;
    height: 64px;
    background-position: -5px -79px;
}

.sprite-scroll {
    width: 64px;
    height: 64px;
    background-position: -79px -79px;
}

.sprite-tome {
    width: 64px;
    height: 64px;
    background-position: -153px -5px;
}
