<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    </head>

    <body>
        <app-game></app-game>
        <app-message></app-message>
        <div class="dock">
            <ul>
                <li>
                    <i class="sprite sprite-backpack"></i>
                </li>
                <li>
                    <i class="sprite sprite-person"></i>
                </li>
                <li>
                    <i class="sprite sprite-secret-book"></i>
                </li>
            </ul>
        </div>
    </body>
</html>
