.dock {
  position: absolute;
  bottom: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 0;
}
.dock ul {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  padding: 20px;
  position: relative;
}
.dock ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0 10px;
  position: relative;
  transition: all 0.3s linear;
  cursor: pointer;
}

/* SPIRITE*/
.sprite {
  background-image: url(../assets/dock-image.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-backpack {
  width: 48px;
  height: 48px;
  background-position: -5px -5px;
}

.sprite-person {
  width: 48px;
  height: 48px;
  background-position: -63px -5px;
}

.sprite-secret-book {
  width: 48px;
  height: 48px;
  background-position: -5px -63px;
}
