.slots {
    margin: 5px;
    padding: 25px;
    height: 100%;
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    overflow: auto;
    max-height: 25vh;
    min-width: 250px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
