@import "variables.scss";
@import "sprite-currencies.scss";
.slots {
    margin: 5px;
    padding: 5px;
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    overflow: auto;
    max-height: 25vh;
    min-width: 250px;
    box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.filter {
    position: relative;
    display: flex;
    justify-content: space-between;
    button {
        background: $blueTextOnBody;
        float: left;
        flex: 1;
        color: #f2f2f2;

        border: none;
        outline: none;
        cursor: pointer;
        padding: 8px 10px;
        transition: 0.3s;
        &:hover {
            background: transparentize($color: $blueTextOnBody, $amount: 0.35);
        }
        &.active {
            background: transparentize($color: $greenTextOnBody, $amount: 0.25);

            &:hover {
                background: $greenTextOnBody;
            }
        }
    }
}
.description {
    background: hsl(228, 60%, 8%);
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 5px;
    .stat {
        margin-top: 5px;
        font-size: smaller;
    }
}
