.slots {
    margin: 5px;
    padding: 5px;
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    overflow: auto;
    max-height: 25vh;
    min-width: 250px;
    box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.filter {
    position: relative;
    display: flex;
    justify-content: space-between;
    button {
        background-color: inherit;
        float: left;
        flex: 1;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 8px 10px;
        transition: 0.3s;
    }
    button:hover {
        background-color: #afc2d4e0;
    }
    button.active {
        background-color: #f0f0f0;
    }
    button.active:hover {
        background-color: #f0f0f086;
    }
}
.description {
    background: hsl(228, 60%, 8%);
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 5px;
    .stat {
        margin-top: 5px;
        font-size: smaller;
    }
}
