<ng-container *ngIf="!monsterDebuff; else dot">
    <div class="action" #action>
        <div class="action-internal">
            <i
                *ngIf="spell"
                class="{{ hero.subType }} {{ spell?.icon }}"
                [attr.data-key]="index + 1"
            ></i>
            <i
                *ngIf="potion"
                class="{{ potion.subType }} {{ potion?.icon }}"
                [attr.data-key]="index"
            ></i>
            <canvas #cooldown width="48" height="48"></canvas>
        </div>
    </div>
</ng-container>
<ng-template #dot>
    <div class="action" #action>
        <div class="action-internal">
            <i class="peasant {{ spell?.icon }}"></i>
            <canvas #cooldown width="48" height="48"></canvas>
        </div>
    </div>
</ng-template>
