.slot-item {
    width: 50px;
    height: 50px;
    position: relative;
    outline: 1px solid rgba(0, 0, 0, 0.4);
    outline-offset: -2px;
    background-color: rgba(0, 0, 0, 0.3);
}
.slot-item.equipment .sprite::after {
    position: absolute;
    border-width: 0 2px 2px 0;
    border-style: solid;
    padding: 2px;
    display: inline-block;
    content: "";
    bottom: 0.2em;
    right: 0.2em;
}
.slot-item.equipment .sprite.upgrade::after {
    border-color: green;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.slot-item.equipment .sprite.downgrade::after {
    border-color: red;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.slot-item span.consummables {
    position: absolute;
    color: black;
    padding: 2px;
    font-size: x-small;
    bottom: 0.2em;
    right: 0.2em;
}

.sprite {
    background-image: url(~/assets/lootequipment.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-armor {
    width: 48px;
    height: 48px;
    background-position: -5px -5px;
}

.sprite-axe {
    width: 48px;
    height: 48px;
    background-position: -63px -5px;
}

.sprite-bow {
    width: 48px;
    height: 48px;
    background-position: -121px -5px;
}

.sprite-dagger {
    width: 48px;
    height: 48px;
    background-position: -5px -63px;
}

.sprite-helmet {
    width: 48px;
    height: 48px;
    background-position: -63px -63px;
}

.sprite-potionBlue {
    width: 48px;
    height: 48px;
    background-position: -121px -63px;
}

.sprite-potionRed {
    width: 48px;
    height: 48px;
    background-position: -5px -121px;
}

.sprite-shield {
    width: 48px;
    height: 48px;
    background-position: -63px -121px;
}

.sprite-sword {
    width: 48px;
    height: 48px;
    background-position: -121px -121px;
}
