@import "sprite-peasantSkills.scss";
@import "variables.scss";
.spells-container {
    width: 450px;
    .spell-container {
        width: 180px;
        height: 75px;
        border-radius: 10px;
        box-shadow: 0px 0px 4px -0.5px;
        margin: 10px;
        color: $lightgreybutton;
        &.unlocked {
            color: $greenTextOnBody;
        }
        i {
            margin-left: 2px;
            box-shadow: 0px 0px 1px 0.5px $carreraWhite;
            border-radius: inherit;
        }
    }
}
