<ng-container *transloco="let t">
    <div
        fxLayout="row wrap"
        fxLayoutAlign="space-evenly center"
        fxFlew="grow"
        class="spells-container"
    >
        <div
            *ngFor="let spell of spells; trackBy: trackByFn"
            class="spell-container"
            fxLayout="row"
            fxLayoutAlign="space-evenly center"
            [tooltip]="spell"
            [tooltip-type]="'spell'"
            [ngClass]="{ unlocked: spell.levelRequired <= hero.level }"
        >
            <i class="peasant {{ spell.icon }}"></i>
            <div fxLayout="column">
                <label>
                    {{ t(spell.name) }}
                </label>
                <select
                    *ngIf="spell.isActive && spell.levelRequired <= hero.level"
                >
                    <option>
                        Equip in slot
                    </option>
                    <option>
                        1
                    </option>
                    <option>
                        2
                    </option>
                    <option>
                        3
                    </option>
                    <option>
                        4
                    </option>
                </select>
                <span *ngIf="spell.levelRequired > hero.level">
                    required lvl {{ spell.levelRequired }}
                </span>
            </div>
        </div>
    </div>
</ng-container>
