<ng-container *transloco="let t">
    <div class="content" fxLayout="row wrap" fxLayoutAlign="center">
        <ng-container *ngFor="let item of goods; trackBy: trackByFn">
            <app-card class="merchant-goods">
                <ng-container cardHeader>
                    {{ t("currencies." + item.to.name) }}
                </ng-container>
                <ng-container cardBody>
                    <div
                        fxLayout="row"
                        fxLayoutAlign="center center"
                        fxFlex="grow"
                    >
                        <i
                            class="currency {{ item.from.name }}"
                            [attr.data-qty]="item.from.quantity || 0"
                        ></i>
                        <span> > </span>
                        <i
                            class="currency {{ item.to.name }}"
                            [attr.data-qty]="item.to.quantity || 0"
                        ></i>
                    </div>
                </ng-container>
                <ng-container cardFooter>
                    <div class="information">
                        <span>
                            {{ t("house.work.current") }}
                        </span>
                        <i
                            class="currency {{ item.from.name }}"
                            [attr.data-qty]="
                                (getCurrency(item.from.name) | async)
                                    ?.quantity || 0
                            "
                        ></i>
                        <i
                            class="currency {{ item.to.name }}"
                            [attr.data-qty]="
                                (getCurrency(item.to.name) | async)?.quantity ||
                                0
                            "
                        ></i>
                    </div>
                    <div
                        fxLayout="row nowrap"
                        fxLayoutAlign="start"
                        fxFlex="grow"
                    >
                        <button
                            class="button-spell"
                            *ngIf="canConvert(item, 1)"
                            (click)="
                                doConvert({
                                    conversion: item,
                                    qty: 1
                                })
                            "
                        >
                            1
                        </button>
                        <button
                            class="button-spell"
                            *ngIf="canConvert(item, 5)"
                            (click)="
                                doConvert({
                                    conversion: item,
                                    qty: 5
                                })
                            "
                        >
                            5
                        </button>
                        <button
                            class="button-spell"
                            *ngIf="canConvert(item, -1)"
                            (click)="
                                doConvert({
                                    conversion: item,
                                    qty: -1
                                })
                            "
                        >
                            MAX
                        </button>
                    </div>
                </ng-container>
            </app-card>
        </ng-container>
    </div>
</ng-container>
