<ng-container *transloco="let t; read: 'hud'">
    <div class="myProgress">
        <ng-container *ngIf="isHero(); else monster">
            <span> {{ entity.getExperience() }}</span>
            <div
                class="miscellaneousBar"
                [style.width.%]="entity.getPercentExperience()"
            ></div>
        </ng-container>
        <ng-template #monster>
            <span> {{ t("notCasting") }}</span>
            <div
                class="miscellaneousBar"
                [style.width.%]="entity.getCastingSpell()"
            ></div>
        </ng-template>
    </div>
</ng-container>
