<ng-container *transloco="let t">
    <h3>
        Informations
    </h3>
    <ul>
        <li>
            <span class="stat-label">{{ t("hud-stats.hp") }} :</span>
            <span class="stat-value">{{ hero.maxHp }}</span>
        </li>

        <li>
            <span class="stat-label">{{ t("hud-stats.mana") }} :</span>
            <span class="stat-value"> {{ hero.maxRessource }}</span>
        </li>

        <li>
            <span class="stat-label"> {{ t("hud-stats.exp") }} :</span>
            <span class="stat-value">
                {{ hero.exp }}/{{ expNextLevel(hero.level) }}</span
            >
        </li>
        <li>
            <span class="stat-label"> {{ t("game.stats.armor") }} :</span>
            <span class="stat-value"> {{ hero.armor }}</span>
        </li>
    </ul>
    <h3>
        {{ t("hud-stats.stats") }}
    </h3>
    <ul>
        <li *ngFor="let stat of hero.stats; trackBy: trackBy">
            <span class="stat-label"> {{ t(stat.name) }} : </span>
            <span class="stat-value">{{ stat.value }}</span>
        </li>
    </ul>
    <h3>
        {{ t("hud-stats.offensiveStats") }}
    </h3>
    <ul>
        <li>
            <span class="stat-label">
                {{ t("hud-stats.offensivePower") }} :
            </span>
            <span class="stat-value"> {{ getOffensivePower() }}</span>
        </li>
        <li>
            <span class="stat-label"> {{ t("hud-stats.damage") }} : </span>
            <span class="stat-value"> {{ getDamage() }}</span>
        </li>
        <li>
            <span class="stat-label"> {{ t("hud-stats.dps") }} : </span>
            <span class="stat-value"> {{ getDps() }}</span>
        </li>
    </ul>
</ng-container>
