@import "variables.scss";
:host {
    display: inline-block;
    margin: 5px;
    min-width: 10vw;
}
ul {
    list-style: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0;
}
li {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $carreraWhite;
}
.header {
    display: block;
    padding: 0px 5px;
    width: 100%;
    box-shadow: 0px 0px 0.5px 0.5px $carreraWhite;
    border-radius: 5px;
    position: relative;
}
.stat-label {
    font-style: italic;
}
.stat-value {
    font-size: smaller;
}
