/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 99%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
body {
    background: #f2f2f2;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
