/* You can add global styles to this file, and also import other style files

https://www.colortools.io/color-palette/wild-heaven/

*/
@import "variables.scss";
html,
body {
    height: 99%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    color: $greenTextOnBody;
}
* {
    font-family: Roboto;
}
body {
    background: $body;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.rare {
    color: $blueRareItem !important;
}
.uncommon {
    color: $greenCommonItem !important;
}
.common {
    color: $carreraWhite !important;
}
.epic {
    color: $purpleEpicItem !important;
}
