<div fxLayout="column" fxLayoutAlign="center center">
    <app-card class="combat">
        <ng-container cardHeader>
            {{ fighter.name }} / lvl {{ fighter.level }}
        </ng-container>
        <ng-container cardBody>
            <!-- Bar Hp / Exp-->
            <div fxLayout="row nowrap">
                <div>
                    <i class="{{ fighter.icon }} mob"></i>
                </div>
                <div
                    fxLayout="column"
                    fxLayoutAlign="space-evenly"
                    class="stat"
                    fxFlex="grow"
                >
                    <div fxLayout="row" fxLayoutAlign="space-around center">
                        <label> Attack : {{ fighter.attack }}</label>
                        <label> Defense : {{ fighter.defense }}</label>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-around center">
                        <label>
                            Attack speed :
                            {{ fighter.attackSpeed / 1000 }}/s</label
                        >
                        <label> Exp : {{ rewardExp() }}</label>
                    </div>
                </div>
            </div>
            <div>
                <div class="myProgress hp">
                    <span> {{ fighter.hp }}</span>
                    <div
                        class="fillingBar"
                        [style.width.%]="healthPercentage(fighter)"
                    ></div>
                </div>
                <div fxLayout="row">
                    <combat-spell-cooldown
                        *ngFor="
                            let spell of fighter?.debuffs;
                            let index = index;
                            trackBy: trackByFn
                        "
                        [spell]="spell"
                        [index]="index"
                        [hero]="hero"
                        [isSkill]="false"
                        style="transform: scale(0.5);"
                    >
                    </combat-spell-cooldown>
                </div>
            </div>
        </ng-container>
    </app-card>
</div>
