<div fxLayout="column" fxLayoutAlign="center center">
    <app-card class="combat">
        <ng-container cardHeader>
            {{ fighter.name }} / lvl {{ fighter.level }}
        </ng-container>
        <ng-container cardBody>
            <!-- Bar Hp / Exp-->
            <div>
                <div class="myProgress hp">
                    <span> {{ fighter.hp }}</span>
                    <div
                        class="fillingBar"
                        [style.width.%]="healthPercentage(fighter)"
                    ></div>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-evenly" class="stat">
                <div fxLayout="row" fxLayoutAlign="space-around center">
                    <label> Attack : {{ fighter.attack }}</label>
                    <label> Defense : {{ fighter.defense }}</label>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-around center">
                    <label>
                        Attack speed : {{ fighter.attackSpeed / 1000 }}/s</label
                    >
                    <label> Exp : {{ fighter.exp }}</label>
                </div>
            </div>
        </ng-container>
    </app-card>
</div>
