@import "variables.scss";
.tab {
    height: 25px;
    color: #f2f2f2;
    background: $lavenderTextOnBody;
    button {
        height: inherit;
        background: $blueTextOnBody;
        color: $carreraWhite;

        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        font-size: small;

        &:hover {
            background: transparentize($color: $blueTextOnBody, $amount: 0.35);
        }
        &.active {
            background: transparentize($color: $greenTextOnBody, $amount: 0.25);
            color: $outerspaceGrey;

            &:hover {
                background: $greenTextOnBody;
            }
        }
    }
}
