<div class="tab" fxLayout="row nowrap">
    <button
        (click)="selectTab('shop')"
        [ngClass]="{ active: activeTab === 'shop' }"
    >
        Shop
    </button>
    <button
        *ngIf="shop.crafts !== undefined"
        (click)="selectTab('craft')"
        [ngClass]="{ active: activeTab === 'craft' }"
    >
        Craft
    </button>
    <button
        *ngIf="shop?.upgrades !== undefined"
        (click)="selectTab('update')"
        [ngClass]="{ active: activeTab === 'update' }"
    >
        Upgrade
    </button>
    <span> {{ shop.name }} </span>
</div>
