<div class="description" fxLayout="column nowrap">
    {{ item.name }}
    <div class="stat" fxLayout="column nowrap">
        <div fxLayout="row nowrap" fxLayoutAlign="space-between">
            <label>
                Category
            </label>
            <label>
                Type
            </label>
        </div>
        <div fxLayout="row nowrap" fxLayoutAlign="space-between">
            <label>
                Attack
            </label>
            <label>
                Speed
            </label>
        </div>
        <label> Primary Stat</label>
        <label> Secondary Stat</label>
    </div>
</div>
