<ng-container *transloco="let t">
    <div class="description" fxLayout="column nowrap">
        <span class="{{ item.quality }}">{{ item.name }} </span>
        <div *ngIf="consumable; else weaponOrArmor">
            Template item
        </div>
        <ng-template #weaponOrArmor>
            <div class="stat" fxLayout="column nowrap">
                <ng-container *ngIf="equipment.type === 'weapon'">
                    <div fxLayout="row nowrap" fxLayoutAlign="space-between">
                        <label>
                            Category
                        </label>
                        <label>
                            Type
                        </label>
                    </div>
                    <div fxLayout="row nowrap" fxLayoutAlign="space-between">
                        <label>
                            Attack
                        </label>
                        <label>
                            Speed
                        </label>
                    </div>
                </ng-container>
                <ng-container *ngIf="equipment.type === 'armor'">
                    <div fxLayout="row nowrap" fxLayoutAlign="space-between">
                        <label>
                            {{ equipment.subType }}
                        </label>
                    </div>
                    <div fxLayout="row nowrap" fxLayoutAlign="space-between">
                        <label>
                            {{ equipment.armor }}
                            {{ t("game.stats.armor") }}
                        </label>
                    </div>
                </ng-container>
                <!-- Loop of an array Stats. -->
                <label *ngFor="let stat of equipment.stats">
                    +{{ stat.value }} {{ t(stat.name) }}
                </label>
                <label> Runes </label>
            </div>
        </ng-template>
        <span class="price">{{ equipment.value }}g</span>
    </div>
</ng-container>
