<ng-container *transloco="let t">
    <div>
        <ul class="equipment-slots">
            <li
                *ngFor="let equipment of hero.equipments; trackBy: trackByFn"
                class="{{ equipment.quality }}"
                [attr.data-type]="
                    equipment?.subType ? equipment.subType : equipment.type
                "
                [tooltip]="equipment"
                [tooltip-compare]="'false'"
            >
                <span
                    class="{{ equipment.subType }} {{ equipment.icon }}"
                ></span>
            </li>
            <li
                class="{{ hero?.potion?.quality }}"
                [tooltip]="hero?.potion"
                [tooltip-compare]="'false'"
            >
                <span
                    class="{{ hero?.potion?.subType }} {{
                        hero?.potion?.icon
                    }} "
                ></span>
            </li>
        </ul>
    </div>
</ng-container>
