@import "sprites.scss";
@import "sprite-set.scss";
@import "variables.scss";
:host {
    display: flex;
    margin: 5px;
    flex-direction: column;
    justify-content: space-evenly;
}
.equipment-slots {
    list-style: none;
    margin: 5px 0;
    padding: 0;
    height: 100%;
    display: grid;
    gap: 5px;
    list-style: none;
    box-sizing: border-box;
}

li {
    width: 48px;
    height: 48px;
    margin: 5px;
    position: relative;
    outline: 1px solid rgba(255, 255, 255, 0.2);
    outline-offset: -2px;
    background-color: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    color: $carreraWhite;
    &:after {
        font: 700 0.5em "Roboto Condensed", sans-serif;
        left: 18px;
        content: attr(data-type);
        position: absolute;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
            1px 1px 0 #000;
        top: 36px;
        z-index: 3;
    }
    @mixin shadow($color) {
        box-shadow: 0px 0px 0.15rem 0.2rem $color;
    }
    &.rare {
        @include shadow($blueRareItem);
    }
    &.uncommon {
        @include shadow($greenCommonItem);
    }
    &.epic {
        @include shadow($purpleEpicItem);
    }
    &.common {
        @include shadow($carreraWhite);
        color: $body !important;
    }
    &.legendary {
        @include shadow($orange);
    }
}

.icon {
    width: 48px;
    height: 58px;
    user-select: none;
    box-shadow: 0px 0px 3px 1.5px grey;
    position: relative;
}
.stat {
    font-size: smaller;
}
