@import "sprites.scss";
@import "sprite-set.scss";
@import "variables.scss";
:host {
    display: flex;
    margin: 5px;
    flex-direction: column;
    justify-content: space-evenly;
}
.equipment-slots {
    list-style: none;
    margin: 5px 0;
    padding: 0;
    height: 100%;
    display: grid;
    gap: 5px;
    list-style: none;
    box-sizing: border-box;
}

li {
    width: 48px;
    height: 48px;
    margin: 5px;
    position: relative;
    outline: 1px solid rgba(255, 255, 255, 0.2);
    outline-offset: -2px;
    background-color: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    color: $carreraWhite;
    @mixin shadow($color) {
        box-shadow: 0px 0px 0.15rem 0.2rem $color;
    }
    &.rare {
        @include shadow($blueRareItem);
    }
    &.uncommon {
        @include shadow($greenCommonItem);
    }
    &.epic {
        @include shadow($purpleEpicItem);
    }
    &.common {
        @include shadow($carreraWhite);
        color: $body !important;
    }
}
$gloves: -39px -5px;
$head: -39px -39px;
$torso: -5px -5px;
$pants: -5px -39px;
$boots: -73px -5px;
.equipment::before {
    background-image: url(~/assets/characterEquipment.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 24px;
    height: 24px;
    content: "";
}
.w::before {
    background-image: none !important;
}
.h::before {
    background-position: $head;
}
.c::before {
    background-position: $torso;
}
.g::before {
    background-position: $gloves;
}
.p::before {
    background-position: $pants;
}
.b::before {
    background-position: $boots;
}

.equipment:hover {
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.8);
}

.icon {
    width: 48px;
    height: 58px;
    user-select: none;
    box-shadow: 0px 0px 3px 1.5px grey;
    position: relative;
}
.stat {
    font-size: smaller;
}
