<ng-container *transloco="let t">
    <div>
        <ul class="equipment-slots">
            <li class="equipment w" [tooltip]="hero.weapon">
                <span
                    class="icon {{ hero?.weapon?.subType }} {{
                        hero?.weapon?.icon
                    }}"
                ></span>
            </li>
            <li class="equipment h" [tooltip]="hero.helmet">
                <span
                    class="icon {{ hero?.helmet?.subType }} {{
                        hero?.helmet?.icon
                    }}"
                ></span>
            </li>
            <li class="equipment c" [tooltip]="hero.chest">
                <span
                    class="icon {{ hero?.chest?.subType }} {{
                        hero?.chest?.icon
                    }}"
                ></span>
            </li>
            <li class="equipment g" [tooltip]="hero.gloves">
                <span
                    class="icon {{ hero?.gloves?.subType }} {{
                        hero?.gloves?.icon
                    }}"
                ></span>
            </li>
            <li class="equipment p" [tooltip]="hero.pants">
                <span
                    class="icon {{ hero?.pants?.subType }} {{
                        hero?.pants?.icon
                    }}"
                ></span>
            </li>
            <li class="equipment b" [tooltip]="hero.boots">
                <span
                    class="icon {{ hero?.boots?.subType }} {{
                        hero?.boots?.icon
                    }}"
                ></span>
            </li>
        </ul>
    </div>
</ng-container>
